@-webkit-keyframes calling {
  0% {
    box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.6);
  }
  20% {
    box-shadow: 0 0 0 5px rgba(225, 225, 225, 0.8);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(225, 225, 225, 0.4);
  }
  60% {
    box-shadow: 0 0 0 15px rgba(225, 225, 225, 0.3);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.2);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(225, 225, 225, 0.1);
  }
}

@keyframes calling {
  0% {
    box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.6);
  }
  20% {
    box-shadow: 0 0 0 5px rgba(225, 225, 225, 0.8);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(225, 225, 225, 0.4);
  }
  60% {
    box-shadow: 0 0 0 15px rgba(225, 225, 225, 0.3);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(225, 225, 225, 0.2);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(225, 225, 225, 0.1);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes zoomInBlock {
  0% {
    opacity: 0;
    .scale(1.7);
  }
  20% {
    opacity: 0.4;
    .scale(1.3);
  }
  40% {
    opacity: 0.7;
    .scale(1);
  }
  60% {
    opacity: 0.9;
    .scale(0.8);
  }
  80% {
    opacity: 0.95;
    .scale(1.2);
  }
  100% {
    opacity: 1;
    .scale(1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}