.news-block {
  .main-news {
    margin-bottom: 20px;
    .news-title {
      margin-top: 20px;
    }
  }
  .list-news {
    .news-title {
      margin: 10px 0;
    }
  }
  .news-title {
    h3, h4 {
      width: 100%;
      font-weight: 800;
      overflow: hidden;
    }
    h3 {
      height: 60px;
      color: @green;
      font-size: 22px;
      line-height: 30px;
    }
    h4 {
      height: 48px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.link-group {
  figure {
    width: 100%;
    margin-bottom: 15px;
  }
}

.health-test {
  position: relative;
  .background-wrapper {
    .screen({ position: absolute; }, { position: absolute; }, { position: relative; });
    width: 100%;
  }
  .health-form-wrapper {
    .screen({ position: relative; }, { position: relative; }, { position: absolute; });
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .white-box {
    position: relative;
    .screen({ padding: 15px; }, { padding: 15px 20px; }, { padding: 40px 30px; });
    .screen({ margin-top: 40px; }, { margin-top: 70px; }, { margin-top: 100px; });
  }
  .form-header {
    .screen({ display: block; }, { display: block; }, { display: table; });
    .screen({ margin-bottom: 10px; }, { margin-bottom: 40px; });
    width: 100%;

    > div {
      .screen({ display: block; }, { display: block; }, { display: table-cell; });
      vertical-align: middle;
      &:first-child {
        .screen({ width: 100%; }, { width: 100%; }, { width: 60%; });
      }
      &:nth-child(2) {
        .screen({ width: 100%; }, { width: 100%; }, { width: 40%; });
      }
    }
  }
  ul.age-list {
    > li {
      display: inline-block;
      width: 44%;
      background-color: white;
      border: 2px solid @green;
      .border-radius(20px);
      text-align: center;
      .transition(background-color, 0.3s, linear);
      margin-right: 10px;
      > a {
        width: 100%;
        display: block;
        padding: 7px 0;
        color: @green;
        font-weight: bold;
        .screen({ font-size: 14px; }, { font-size: 12px; }, { font-size: 16px; });
        text-transform: uppercase;
      }
      &.active {
        background-color: @green;
        > a {
          color: white;
        }
      }
    }
  }
  h4.form-title {
    color: @green;

    font-weight: 900;
    text-transform: uppercase;
    .screen({ font-size: 16px; }, { font-size: 14px; }, { font-size: 22px; });
    .screen({ margin: 15px 0; }, { margin: 0; });
    .screen({ text-align: left; }, { text-align: right; });
  }
  .form-upload {
    .screen({ margin: 15px 0 }, { margin: 0 });
    input[type="file"] {
      display: none;
    }
    .form-holder {
      position: relative;
      width: 100px;
      height: 100px;
      .screen({ width: 100px; }, { width: 70px; }, { width: 100px; });
      .screen({ height: 100px; }, { height: 70px; }, { height: 100px; });
      background-color: white;
      .border-radius(10px);
      .box-shadow(0, 0px, 20px, 0.3);
    }
    .avatar {
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
      display: inline-block;
      .screen({ width: 78px; }, { width: 48px; }, { width: 78px; });
      .screen({ height: 69px; }, { height: 48px; }, { height: 69px; });
      background: url("../images/icon/baby.png") no-repeat center center / 100% auto;
    }
    .camera-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    .holder-image {
      text-align: center;
      z-index: 1;
      img {
        max-height: 100px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .form-group {
    span, input, select {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      width: 30px;
      text-align: center;
      margin-right: 10px;
    }
    select {
      cursor: pointer;
    }
    input, select {
      .calc(width, '100% - 44px');
    }
  }
  .form-action {
    button:first-child {
      .screen({ margin-right: 0; }, { margin-right: 20px; });
      .screen({ margin-bottom: 10px; }, { margin-bottom: 0; });
    }
  }
  .weight-group, .height-group {
    position: relative;
    &:after {
      position: absolute;
      top: 10px;
      right: 12px;
      color: @green;
      font-family: @base-font;
      font-size: @base-font-size;
    }
    input {
      padding-right: 35px;
    }
  }
  .weight-group:after {
    content: 'kg';
  }
  .height-group:after {
    content: 'cm';
  }
  .gender-group {
    position: relative;
    i.chevron-down {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -4px;
      cursor: pointer;
    }
  }
  .calendar-group {
    position: relative;
    i.calendar-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -10.5px;
      cursor: pointer;
    }
  }
}

.news-section {
  margin-top: 25px;
}

.health-result {
  @media (min-width: 768px) {
    > div {
      &:first-child {
        border-right: 1px solid @red;
      }
      &:nth-child(2) {
      }
    }
  }
  .health-index {
    .screen({ display: block; }, { display: block; }, { display: table; });
    width: 100%;
    margin-bottom: 20px;
    > div {
      .screen({ display: block; }, { display: block; }, { display: table-cell; });
      .screen-xs({ margin-bottom: 10px; });
      vertical-align: top;
      &:first-child {
        .screen({ width: 100%; }, { width: 100%; }, { width: 25%; });

      }
      &:nth-child(2) {
        .screen({ width: 100%; }, { width: 100%; }, { width: 75%; });
        .screen({ padding-left: 0; }, { padding-left: 0; }, { padding-left: 20px; });
        > div {
          margin-bottom: 5px;
        }
      }
    }
    .child-avatar {
      position: relative;
      width: 100px;
      height: 100px;
      background: white no-repeat center center;
      .border-radius(10px);
      .box-shadow(0, 0px, 20px, 0.3);
      padding: 20px;
      .screen({ margin: 0 auto 15px; }, { margin: 0 auto 15px; }, { margin: 0 });
    }
    .icon-text {
      display: table;
      width: 100%;
      > span, > p, > h4 {
        display: table-cell;
        vertical-align: middle;
      }
      > span {
        width: 40px;
        text-align: center;
      }
      p {
        color: @red;
      }
    }
    .only-text {
      padding-left: 40px;
    }
    .child-name {
      color: @red;
      font-size: 20px;
      font-weight: 800;
    }
  }
  .health-evaluation {
    .screen({ display: block; }, { display: table; });
    width: 100%;
    border: 1px solid @red;
    .screen({ .border-radius(8px); }, { .border-radius(50px); });
    overflow: hidden;
    .screen({ margin-bottom: 20px; }, { margin-bottom: 0; });
    > div {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      &:first-child {
        width: 30%;
        background-color: @red;
      }
      &:nth-child(2) {
        width: 70%;
        padding: 10px 0;
      }
    }
    h5 {
      color: white;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      color: @red;
      font-size: 15px;
      font-weight: 800;
      text-transform: uppercase;
      strong {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  .health-recommendation {
    h3 {
      color: @red;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    ul {
      max-height: 180px;
      list-style: disc inside;
      padding-right: 20px;
      li {
        text-align: justify;
      }
    }
  }
  .w-45, .w-55 {
    .screen-xs({ width: 100% });
    display: inline-block;
  }
  .slimScrollBar {
    background-color: @red !important;
  }
}

.news-filter, .menu-filter {
  .screen({ margin: 20px 0 15px; }, { margin: 60px 0 40px; });
  ul {
    > li {
      .screen({ display: block; width: 100%; }, { display: inline-block; width: 22%; });
      .screen({ margin-right: 10px; }, { margin-right: 10px; });
      .screen({ margin-bottom: 10px; }, { margin-bottom: 0; });
      background-color: white;
      border: 1px solid @red;
      .border-radius(20px);
      text-align: center;
      .transition(background-color, 0.3s, linear);
      > a {
        width: 100%;
        display: block;
        padding: 7px 0;
        color: @red;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &.active {
        background-color: @red;
        > a {
          color: white !important;
        }
      }
    }
  }
}

.news-filter-content {
  .list-news .white-box {
    margin-bottom: 30px;
  }
}

.menu-block {
  .day-list {
    ul {
      > li {
        display: block;
        .screen({ float: none; }, { float: left; });
        .screen({ width: 90%; }, { width: 19%; });
        padding-right: 10px;
        margin-top: 3%;
        &.active {
          .screen({ width: 100%; }, { width: 24%; });
          margin-top: 0;
        }
        > a {
          .screen({ display: block; }, { display: inline-block });
          position: relative;
          background-color: white;
          border: 1px solid @red;
          .border-radius(10px);
          .box-shadow(0, 0px, 10px, 0.3);
          padding: 10px;
        }
      }
    }
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-10deg);
      z-index: 5;
    }
    .menu-img {
      .screen({ width: 25%; }, { width: 100%; });
      .screen({ display: inline-block; }, { display: block; });
      position: relative;
      overflow: hidden;
      .box-sizing();
      .border-radius(10px);
      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        background: transparent no-repeat scroll center center / cover;
      }
    }
    .menu-title {
      .screen({ display: inline-block; }, { display: block; });
      .screen({ width: 70%; }, { width: 100%; });
      vertical-align: top;
      margin-top: 5px;
      p {
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
  .day-content {
    padding: 30px 0;
    .menu-item {
      .border-radius(10px);
      overflow: hidden;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        display: table;
        width: 100%;
        > div {
          display: table-cell;
          width: 50%;
          vertical-align: middle;
        }
      }
      &.bg-1 {
        background-color: #e4b2ab;
      }
      &.bg-2 {
        background-color: #dc9488;
      }
      &.bg-3 {
        background-color: #d27667;
      }
      &.bg-4 {
        background-color: #ca5949;
      }
      &.bg-5 {
        background-color: #bf3d27;
      }
      > div {
        &:first-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }
    .menu-detail {
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        &:first-child {
          width: 40%;
          text-align: center;
        }
        &:nth-child(2) {
          .screen-xs({ padding: 15px });
          width: 60%;
        }
      }
      h6 {
        color: white;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
      }
      ul {
        li {
          position: relative;
          display: block;
          width: 100%;
          padding-left: 20px;
          &:before {
            content: ' \25CF';
            color: white;
            position: absolute;
            top: 0;
            left: 0;
          }
          p {
            color: white;
            font-size: 16px;
          }
        }
      }
    }
    .menu-pic {
      width: 100%;
      overflow: hidden;
      &:hover {
        img {
          .opacity(0.9);
          .transform(scale3d(1.1, 1.1, 1));
        }
      }
      img {
        display: block;
        width: 100%;
        .transition-animation(all 1s);
      }
    }
  }
}

.story-section {
  position: relative;
  width: 100%;
  min-height: 350px;
  background-image: url('../images/background/background-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 0;
  .story-list {
    .white-box {
      .box-shadow(0, 0px, 10px, 0.3);
      &:hover {
        background-color: #d4786b;
        .news-title h4 {
          color: white;
        }
      }
    }
    .news-title {
      margin: 10px 0;
    }
  }
  .owl-item {
    padding: 10px;
  }
  .owl-nav {
    display: block !important;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    width: 100%;
    * {
      background-color: transparent !important;
    }
    .owl-prev {
      position: absolute;
      left: -30px;
    }
    .owl-next {
      position: absolute;
      right: -30px;
    }
  }
}

.news-caption, .menu-caption, .story-caption {
  p {
    text-align: justify;
  }
}

.meat-icon, .shrimp-icon, .fruit-icon, .vegetables-icon {
  position: absolute;
  .screen({ display: none; }, { display: none; }, { display: block; });
}

.fruit-icon {
  right: 70px;
  bottom: 27%;
}

.step-1 {
  .meat-icon {
    top: 35%;
    right: -55px;
  }
  .shrimp-icon {
    bottom: 30px;
    left: -20px;
  }
  .vegetables-icon {
    right: 15%;
    bottom: -60px;
  }
}

.sddtc, .ctc, .tckm {
  .meat-icon {
    bottom: -40px;
    right: 40px;
  }
  .shrimp-icon {
    bottom: -80px;
    left: -20px;
  }
  .vegetables-icon {
    left: 35%;
    bottom: 20%;
  }
}

.ctc {
  .health-result .health-index .child-name, .health-result .health-recommendation h3, .health-result .health-index .icon-text p,
  .health-result .health-evaluation p, .health-result .health-evaluation p strong, .news-filter ul > li > a, .menu-filter ul > li > a {
    color: @orange;
  }
  .health-result .health-evaluation > div:first-child, .news-filter ul > li.active, .menu-filter ul > li.active {
    background-color: @orange;
  }
  .health-result .health-evaluation, .news-filter ul > li, .menu-filter ul > li {
    border-color: @orange;
  }
  .health-result .slimScrollBar {
    background-color: @orange !important;
  }
  .menu-block .day-content .menu-item {
    &.bg-1 {
      background-color: #f9c581;
    }
    &.bg-2 {
      background-color: #f8b968;
    }
    &.bg-3 {
      background-color: #f7ae4f;
    }
    &.bg-4 {
      background-color: #f59c29;
    }
    &.bg-5 {
      background-color: #f38b03;
    }
  }
  .story-section .story-list .white-box:hover {
    background-color: #f7ae52;
  }
}

.tckm {
  .health-result .health-index .child-name, .health-result .health-recommendation h3, .health-result .health-index .icon-text p,
  .health-result .health-evaluation p, .health-result .health-evaluation p strong, .news-filter ul > li > a, .menu-filter ul > li > a {
    color: @blue;
  }
  .health-result .health-evaluation > div:first-child, .news-filter ul > li.active, .menu-filter ul > li.active {
    background-color: @blue;
  }
  .health-result .health-evaluation, .news-filter ul > li, .menu-filter ul > li {
    border-color: @blue;
  }
  .health-result .slimScrollBar {
    background-color: @blue !important;
  }
  .menu-block .day-content .menu-item {
    &.bg-1 {
      background-color: #a9b4d8;
    }
    &.bg-2 {
      background-color: #8898c9;
    }
    &.bg-3 {
      background-color: #687cbb;
    }
    &.bg-4 {
      background-color: #4760ac;
    }
    &.bg-5 {
      background-color: #27449d;
    }
  }
  .story-section .story-list .white-box:hover {
    background-color: #6b7fbc;
  }
}