@font-face {
  font-family: FontAwesome;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nabila';
  src: url('../fonts/Nabila.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Bold.eot');
  src: url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-Bold.woff2') format('woff2'),
  url('../fonts/Nunito-Bold.woff') format('woff'),
  url('../fonts/Nunito-Bold.ttf') format('truetype'),
  url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Light.eot');
  src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-Light.woff2') format('woff2'),
  url('../fonts/Nunito-Light.woff') format('woff'),
  url('../fonts/Nunito-Light.ttf') format('truetype'),
  url('../fonts/Nunito-Light.svg#Nunito-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-ExtraBold.eot');
  src: url('../fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
  url('../fonts/Nunito-ExtraBold.woff') format('woff'),
  url('../fonts/Nunito-ExtraBold.ttf') format('truetype'),
  url('../fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-SemiBold.eot');
  src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
  url('../fonts/Nunito-SemiBold.woff') format('woff'),
  url('../fonts/Nunito-SemiBold.ttf') format('truetype'),
  url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.eot');
  src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-Regular.woff2') format('woff2'),
  url('../fonts/Nunito-Regular.woff') format('woff'),
  url('../fonts/Nunito-Regular.ttf') format('truetype'),
  url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-ExtraLight.eot');
  src: url('../fonts/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-ExtraLight.woff2') format('woff2'),
  url('../fonts/Nunito-ExtraLight.woff') format('woff'),
  url('../fonts/Nunito-ExtraLight.ttf') format('truetype'),
  url('../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Black.eot');
  src: url('../fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Nunito-Black.woff2') format('woff2'),
  url('../fonts/Nunito-Black.woff') format('woff'),
  url('../fonts/Nunito-Black.ttf') format('truetype'),
  url('../fonts/Nunito-Black.svg#Nunito-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
