#footer {
  width: 100%;
  position: relative;
  display: block;
  background: url("../images/footer/pre-footer.png") no-repeat center center / cover;
  .contact-wrapper {
    display: block;
    width: 100%;
    position: relative;
    padding: 25px 0 20px;
    .title-contact {
      width: 100%;
      display: block;
      padding-bottom: 15px;
      position: relative;
      margin-bottom: 25px;
      &:after {
        left: 0;
        bottom: 0;
        display: block;
        position: absolute;
        height: 2px;
        background-color: @red;
        content: '';
      }
      &.min {
        span {
          .screen({ max-width: 100%; }, { max-width: 45%; })
        }
        &:after {
          .screen({ width: 100%; }, { width: 35%; })
        }
      }
      &.max {
        span {
          .screen({ max-width: 100%; }, { max-width: 60%; });
        }
        &:after {
          width: 100%;
        }
      }
      span {
        display: block;
        position: relative;
        font-size: 18px;
        font-weight: 900;
        color: @red;
      }
    }
    .contact-right-content {
      display: block;
      width: 100%;
      .form-group {
        position: relative;
        .message-success {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ width: 100%; }, { width: 65%; });
          left: 0;
          display: block;
          top: 50%;
          text-align: left;
          color: @red;
          .translate(0, -50%);
        }
        .form-control {
          .border-radius(25px);
        }
        .btn-submit-contact-form {
          .border-radius(25px);
          width: 120px;
          text-align: center;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;
          .transition();
          color: white;
          background-color: @red;
          border: 2px solid @red;
          .screen-xs({margin-bottom: 10px});
          &:hover {
            color: @red;
            background-color: white;
          }
        }
      }
    }
    .facebook-news {
      display: block;
      width: 100%;
      position: relative;
      .face-list {
        display: block;
        width: 100%;
        li {
          display: block;
          position: relative;
          width: 100%;
          margin-bottom: 15px;
          a {
            padding-left: 110px;
            position: relative;
            width: 100%;
            height: 75px;
            display: block;
            img {
              width: 95px;
              position: absolute;
              left: 0;
              top: 0;
              .border-radius(10px);
            }
            .news-content {
              left: 110px;
              top: 50%;
              .translate(0, -50%);
              display: block;
              position: absolute;
              .title-news, .desc-news {
                position: relative;
                display: block;
                width: 100%;
              }
              .desc-news {
              }
            }
          }
        }
      }
    }
    .facebook-share {
      display: block;
      width: 100%;
      margin: 15px auto;
    }
  }
  .action-wrapper {
    display: block;
    width: 100%;
    position: relative;
    padding: 25px 0 20px;
    .action-block {
      display: block;
      width: 100%;
      .title-action {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        color: @red;
        font-weight: 900;
        font-size: 16px;
      }
      .list-action {
        display: block;
        width: 100%;
        li {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          a {
            display: inline-block;
            color: #333;
            .transition();
            position: relative;
            span {
              padding-left: 45px;
              display: block;
              width: 100%;
            }
            img {
              position: absolute;
              left: 0;
              top: 0;
            }
            &:hover {
              color: #474747;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .logo-footer {
    display: block;
    margin: 25px auto;
  }
  .footer-wrapper {
    background-color: @green-light;
    color: white;
    position: relative;
    margin-top: 80px;
    &:after {
      background: transparent url(../images/bg-footer.png) no-repeat scroll center center/cover;
      content: "";
      height: 62px;
      left: 50%;
      margin-left: -130px;
      position: absolute;
      top: -61px;
      width: 260px;
    }
    .bg-footer {
      &:before {
        background-color: @green-light;
        content: "";
        height: 20px;
        left: 0;
        position: absolute;
        top: -12px;
        .calc(width, '50% - 130px');
      }
      &:after {
        background-color: @green-light;
        content: "";
        height: 20px;
        right: 0;
        position: absolute;
        top: -12px;
        .calc(width, '50% - 130px');
      }
      .title-footer {
        margin: 20px 25px;
        text-align: center;
        font-weight: 600;
        color: white;
        font-size: 16px;
      }
    }
    .copyright-footer {
      background-color: @green;
      .text-left, .text-right {
        .screen-xs({ text-align: center });
      }
      h5 {
        margin: 10px 0;
        color: white;
        font-weight: 400;
        font-size: 14px;
        display: inline-block;
      }
      .social-network {
        display: inline-block;
        margin-left: 10px;
        li {
          display: inline-block;
          width: 29px;
          height: 29px;
          margin-left: 10px;
          vertical-align: middle;
          position: relative;
          i {
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
            width: 29px;
            height: 29px;
            display: block;
            &.icon-facebook {
              background: url("../images/icon/facebook.png") no-repeat center / cover;
            }
            &.icon-youtube {
              background: url("../images/icon/youtube.png") no-repeat center / cover;
            }
          }
        }
      }
    }
  }
}

.form-control {
  &.parsley-error {
    background-color: rgba(254, 238, 238, 0.5);
    border: 1px solid rgb(244, 69, 69);
  }
}

.parsley-errors-list {
  position: absolute;
  right: 10px;
  top: 2px;
  li {
    color: rgb(244, 69, 69);
    font-size: 10px;
  }
}
