.banner-product {
  &:after {
    position: absolute;
    content: '';
    .gradient(rgba(255, 255, 255, 0), #ffffff);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
  .block-wrapper {
    display: block;
    position: absolute;
    .screen({ position: relative; }, { position: absolute; });
    .screen({ width: 35%; }, { width: 100%; });
    left: 0;
    bottom: 0;
    .translate(0, 0);
  }
  .video-block-wrapper {
    display: block;
    width: 100%;
    z-index: 9;
    .screen({ position: relative; }, { position: absolute; });
    .screen({ top: auto; }, { top: 50%; });
    .screen({ .translate(0, 0); }, { .translate(0, -50%); });
    left: 0;
    .block-video-item {
      display: block;
      padding: 15px;
      background-color: white;
      box-shadow: 0 0 25px #ccc;
      .border-radius(8px);
    }
  }
  .text-wrapper {
    display: block;
    width: 100%;
    .screen-xs({ margin: 15px 0 });
    .screen({ position: relative; }, { position: absolute; });
    left: 0;
    .screen({ top: auto; }, { top: 50%; });
    .screen({ .translate(0, 0); }, { .translate(0, -50%); });
    .text-wrapper-content {
      display: block;
      width: 100%;
      .sub-title-text {
        color: @red;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
        &.red {
          color: @red;
        }
        &.orange {
          color: @orange;
        }
        &.blue {
          color: @blue;
        }
      }
      .main-title-text {
        color: @red;
        font-weight: 900;
        text-align: center;
        font-size: 35px;
        font-family: @sub-font;
        margin-bottom: 25px;
        &.red {
          color: @red;
        }
        &.orange {
          color: @orange;
        }
        &.blue {
          color: @blue;
        }
      }
      p {
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
}

.giaiphap-block {
  display: block;
  background: url("../images/sddtc/bg-giaiphap-block.png") no-repeat center center;
  padding: 50px 0;
  margin-bottom: 25px;
  .sub-title {
    margin-top: 35px;
    display: block;
    width: 100%;
    color: @red;
    &.red {
      color: @red;
    }
    &.orange {
      color: @orange;
    }
    &.blue {
      color: @blue;
    }
    font-weight: 900;
    font-size: 26px;
  }
  .slick-prev, .slick-next {
    .screen({ width: 30px; }, { width: 60px; });
    .screen({ height: 30px; }, { height: 60px; });
    .border-radius(50%);
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      color: @green;
      .screen({ font-size: 20px; }, { font-size: 35px; });
      .translate(-50%, -50%);
    }
  }
  .slick-prev {
    .screen({ left: 10px; }, { left: -25px; });
    &:before {
      left: 45%;
      content: "\f104";
    }
  }
  .slick-next {
    .screen({ right: 10px; }, { right: -25px; });
    &:before {
      right: 25%;
      content: "\f105";
    }
  }
  .item {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
    .screen({ margin-top: 25px; }, { margin-top: 30px; });
    .screen({ padding: 30px 10px 10px; }, { padding: 60px 10px 10px; });
    .pick-number {
      position: absolute;
      width: 45px;
      margin-left: -22px;
      height: 45px;
      line-height: 40px;
      display: block;
      .border-radius(50%);
      font-weight: 900;
      color: @red;
      text-align: center;
      left: 50%;
      top: 0;
      .translate(0, -50%);
      border: 2px solid @red;
      &.red {
        color: @red;
        border: 2px solid @red;
      }
      &.orange {
        color: @orange;
        border: 2px solid @orange;
      }
      &.blue {
        color: @blue;
        border: 2px solid @blue;
      }
      vertical-align: middle;
    }
    .box-knowledge {
      .transition();
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: block;
      width: 100%;
      position: relative;
      background-color: rgba(255, 255, 255, 0.85);
      .border-radius(14px);
      .screen({ min-height: 0; }, { min-height: 250px; });
      .screen({ margin-top: 5px; }, { margin-top: 25px; });
      .screen({ padding: 5px; }, { padding: 15px; });
      .screen({ margin-bottom: 10px; }, { margin-bottom: 25px; });
      &:hover {
        background-color: @red;
        .box-detail {
          .box-title {
            color: white;
          }
        }
      }
      &.red {
        &:hover {
          background-color: @red;
        }
      }
      &.orange {
        &:hover {
          background-color: @orange;
        }
      }
      &.blue {
        &:hover {
          background-color: @blue;
        }
      }
      .box-thumbnail {
        .screen({ height: 110px; }, { height: 120px; });
        .screen({ margin-bottom: 0; }, { margin-bottom: 15px; });
        display: block;
        width: 100%;
        overflow: hidden;
        .border-radius(7px);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .box-detail {
        .screen({ display: block; }, { display: block; });
        width: 100%;
        .box-title {
          display: block;
          width: 100%;
          font-size: 15px;
          color: #333;
          font-weight: 900;
          .transition();
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.product-block {
  display: block;
  width: 100%;
  position: relative;
  .slick-prev, .slick-next {
    .screen({ width: 30px; }, { width: 60px; });
    .screen({ height: 30px; }, { height: 60px; });
    .border-radius(50%);
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      color: @green;
      .screen({ font-size: 20px; }, { font-size: 35px; });
      .translate(-50%, -50%);
    }
  }
  .slick-prev {
    .screen({ left: 10px; }, { left: -25px; });
    &:before {
      left: 45%;
      content: "\f104";
    }
  }
  .slick-next {
    .screen({ right: 10px; }, { right: -25px; });
    &:before {
      right: 25%;
      content: "\f105";
    }
  }
  .item {
    display: block;
    width: 100%;
    text-align: center;
    .scale(0.75);
    .transition();
    &.slick-current.slick-center {
      opacity: 1;
      transform: scale(1);
      .product-image {
        &:after {
          z-index: -1;
          content: '';
          background: url("../images/sddtc/center.png") no-repeat center;
          width: 315px;
          height: 431px;
          position: absolute;
          left: 50%;
          top: 0;
          .translate(-50%, 0);
        }
        &.red {
          &:after {
            background: url("../images/sddtc/center.png") no-repeat center;
          }
        }
        &.orange {
          &:after {
            background: url("../images/sddtc/center-ctc.png") no-repeat center;
          }
        }
        &.blue {
          &:after {
            background: url("../images/sddtc/center-tckm.png") no-repeat center;
          }
        }
      }
    }
    .product-image, .product-brand {
      display: block;
      width: 100%;
      position: relative;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .product-image {
      padding-top: 85px;
    }
    .product-brand {
      .detail-product {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
        span {
          font-weight: 900;
          display: block;
          color: @red;
          &.red {
            color: @red;
          }
          &.orange {
            color: @orange;
          }
          &.blue {
            color: @blue;
          }
          text-shadow: 0 0 15px #ffffff;
          &.name {
            .screen({ font-size: 16px; }, { font-size: 12px; }, { font-size: 16px; });
          }
          &.type {
            font-family: @sub-font;
            .screen({ font-size: 20px; }, { font-size: 13px; }, { font-size: 20px; });
          }
        }
      }
    }
  }
}

.product-information {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/sddtc/bg-tab-product.png") no-repeat top center / 100%;
  padding-top: 150px;
  .table {
    th {
      text-transform: uppercase;
      font-weight: 900;
    }
    .title-table {
      background-color: #F2F2F2;
      td {
        font-weight: 900;
      }
    }
  }
  .product-filter {
    .screen({ margin: 20px 0 15px; }, { margin: 80px 0 60px; });
    ul {
      > li {
        .screen({ display: block; width: 100%; }, { display: inline-block; .calc(width, '25% - 10px'); });
        .screen({ margin-right: 10px; }, { margin-right: 10px; });
        .screen({ margin-bottom: 10px; }, { margin-bottom: 0; });
        background-color: white;
        border: 1px solid @red;
        &.red {
          border: 1px solid @red;
        }
        &.orange {
          border: 1px solid @orange;
        }
        &.blue {
          border: 1px solid @blue;
        }
        .border-radius(20px);
        text-align: center;
        .transition(background-color, 0.3s, linear);
        > a {
          width: 100%;
          display: block;
          padding: 7px 0;
          color: @red;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          &.red {
            color: @red;
          }
          &.orange {
            color: @orange;
          }
          &.blue {
            color: @blue;
          }
        }
        &.active {
          background-color: @red;
          &.red {
            background-color: @red;
          }
          &.orange {
            background-color: @orange;
          }
          &.blue {
            background-color: @blue;
          }
          > a {
            color: white !important;
          }
        }
      }
    }
  }
  .product-filter-content {
    display: block;
    margin: 40px 0 150px;
    position: relative;
    .get-question-product {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ bottom: auto; }, { bottom: -150px; }, { bottom: -10px; });
      .screen({ left: auto; }, { left: 0; }, { left: -85px; });
      display: block;
      .get-question-btn {
        position: absolute;
        .screen({ left: 40%; }, { left: 50%; });
        top: auto;
        .translate(-50%, 0);
        bottom: 0;
        display: inline-block;
        width: 220px;
        text-align: center;
        height: 40px;
      }
    }
    .review-product {
      padding: 15px;
      box-shadow: 0 0 15px #ccc;
      .border-radius(10px);
      background-color: rgba(255, 255, 255, 0.8);
      .review-wrapper {
        .screen({ padding: 15px; }, { padding: 35px; }, { padding: 55px; });
        .border-radius(10px);
        border: 2px dashed @red;
        &.red {
          border: 2px solid @red;
        }
        &.orange {
          border: 2px solid @orange;
        }
        &.blue {
          border: 2px solid @blue;
        }
        .demo3 {
          background: url("../images/sddtc/bg-tab-3.png") no-repeat right bottom;

        }
        .detail-content-product {
          display: block;
          width: 100%;
          position: relative;
          .detail-list {
            display: block;
            width: 100%;
            li {
              padding-left: 35px;
              position: relative;
              margin-bottom: 25px;
              &:after {
                content: '';
                width: 15px;
                height: 15px;
                background-color: @red;
                &.red {
                  background-color: @red;
                }
                &.orange {
                  background-color: @orange;
                }
                &.blue {
                  background-color: @blue;
                }
                .border-radius(50%);
                position: absolute;
                left: 0;
                top: 0;
              }
              h2 {
                text-transform: uppercase;
                color: @red;
                &.red {
                  color: @red;
                }
                &.orange {
                  color: @orange;
                }
                &.blue {
                  color: @blue;
                }
                font-weight: 900;
                margin-bottom: 5px;
              }
            }
          }
        }
        .demo-image {
          display: block;
          width: 100%;
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}