@size : 65px;

#header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  .navbar-collapse {
    padding: 0;
  }
  .top-header {
    background-color: @red;
    display: block;
    width: 100%;
    padding: 5px 0;
    color: white;
    .hot-line {
      display: block;
      width: 100%;
      line-height: 28px;
      .screen({ text-align: center }, { text-align: left; });
      vertical-align: middle;
      span {
        font-weight: 700;
      }
    }
    .search-action {
      display: inline-block;
      .screen({ margin-right: 0; }, { margin-right: 15px; });
      .form-group {
        position: relative;
        margin-bottom: 0;
        .form-control {
          .border-radius(25px);
          height: auto;
          padding: 4px 35px 4px 15px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          text-align: right;
          font-size: 12px;
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: whitesmoke;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: whitesmoke;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: whitesmoke;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: whitesmoke;
          }
        }
        .btn-search {
          background-color: white;
          border: 0;
          box-shadow: none;
          height: 26px;
          width: 26px;
          .border-radius(50%);
          position: absolute;
          right: 0;
          top: 0;
          i {
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
            color: @red;
            font-size: 16px;
            position: absolute;
          }
        }
      }
    }
    .login-action {
      display: inline-block;
      position: relative;
      li {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 12px;
          right: 10px;
          top: 5px;
          background-color: white;
        }
        &:last-child {
          padding-right: 0;
          &:after {
            width: 0;
          }
        }
        a {
          color: white;
          font-size: 12px;
        }
      }
    }
  }
  .body-header {
    background-color: white;
    display: block;
    width: 100%;
    padding: 0;
    box-shadow: 0 3px 3px rgba(204, 204, 204, 0.5);
    .navbar-header {
      position: relative;
      .navbar-toggle .icon-bar {
        background-color: @green;
      }
      .logo-nuti {
        .screen({ display: block }, { display: none });
        position: absolute;
        left: 0;
        top: 0;
        width: 85px;
        height: 105px;
        a {
          position: absolute;
          z-index: 2;
          text-align: center;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
          width: 95%;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 50px;
          background-color: white;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          .translate(-50%, 0);
          left: 50%;
          bottom: 15px;
          width: 85px;
          height: 85px;
          background-color: white;
          z-index: 0;
          box-shadow: 0 3px 3px rgba(204, 204, 204, 0.5);
          .border-radius(50%);
        }
      }
    }
    .navbar-collapse {
      .screen({ position: absolute; }, { position: relative; });
      left: 0;
      top: 0;
      width: 100%;
      background-color: white;
    }
    .nuti-navigation {
      display: block;
      width: 100%;
      .screen({ padding-left: 0; }, { padding-left: 150px; }, { padding-left: 170px; });
      position: relative;
      .logo-nuti {
        .screen({ display: none }, { display: block });
        position: absolute;
        left: 0;
        top: 0;
        width: 143px;
        height: 168px;
        a {
          position: absolute;
          z-index: 2;
          text-align: center;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
          width: 100%;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 101px;
          background-color: white;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          .translate(-50%, 0);
          left: 50%;
          bottom: 15px;
          width: 140px;
          height: 140px;
          background-color: white;
          z-index: 0;
          box-shadow: 0 3px 3px rgba(204, 204, 204, 0.5);
          .border-radius(50%);
        }
      }
      .sub-logo {
        display: block;
        width: 100%;
        position: relative;
        text-align: right;
        padding: 15px 15px 10px 0;
        &.back-btn {
          a {
            .screen-xs({ width: 100%; display: block; margin-top: 30px; });
          }
          .back-homepage {
            width: auto;
            display: block;
            height: auto;
            margin-top: 0;
            img {
              position: absolute;
              .screen({ right: 15px; }, { right: 115px; });
              top: 0;
            }
          }
        }

      }
      .nav-nutifood {
        width: 100%;
        text-align: right;
        li {
          .screen({ display: block; }, { display: inline-block; });
          .screen({ width: 100%; }, { width: 11.5%; }, { width: 12%; });
          .screen({ padding: 0 }, { padding-left: 0; }, { padding-left: 15px; });
          position: relative;
          vertical-align: bottom;
          a {
            .screen({ height: auto; }, { height: 55px; });
            .screen({ padding: 8px 15px; }, { padding: 0; });
            color: #333;
            position: relative;
            width: 100%;
            display: block;
            .transition();
            .screen-sm({font-size: 10px});
            &:after {
              position: absolute;
              left: 0;
              bottom: 0;
              height: 0;
              width: 100%;
              content: '';
              background-color: @green;
              .transition();
            }
            span {
              .screen({ position: relative; }, { position: absolute; });
              .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
              .screen({ left: auto; }, { left: 50%; });
              .screen({ top: auto; }, { top: 50%; });
              font-weight: 900;
              display: block;
              width: 100%;
              text-align: center;
              .transition();
              strong {
                .screen({ display: inline-block; }, { display: block; });
                .screen({ width: auto }, { width: 100%; });
                font-weight: 900;
              }
            }
            &:hover, &.active {
              color: @green;
              &:after {
                height: 3px;
              }
            }
          }
          .dropdown-menu {
            padding: 0;
            margin: 12px 0 0;
            &.is-large {
              .screen({ min-width: 100%; }, { min-width: 350px; });
            }
            &.is-small {
              .screen({ min-width: 100%; }, { min-width: 250px; });
            }
            .screen({ width: 100%; }, { width: auto; });
            &:after {
              content: '';
              position: absolute;
              border-style: solid;
              border-width: 0 7px 7px;
              border-color: #FFFFFF transparent;
              display: block;
              width: 0;
              z-index: 1;
              top: -7px;
              left: 40px;
            }
            &:before {
              content: '';
              position: absolute;
              border-style: solid;
              border-width: 0 8px 8px;
              border-color: #7F7F7F transparent;
              display: block;
              width: 0;
              z-index: 0;
              top: -8px;
              left: 39px;
            }
            li {
              display: block;
              width: 100%;
              padding: 5px 15px;
              a {
                text-align: left;
                .screen({ height: auto; }, { height: auto; });
                .screen({ padding: 8px 15px; }, { padding: 0 0 8px; });
                color: #333;
                position: relative;
                width: 100%;
                display: block;
                .transition();
                &:after {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  height: 1px;
                  width: 100%;
                  content: '';
                  background-color: @green;
                  .transition();
                }
                span {
                  text-align: left;
                  .screen({ position: relative; }, { position: relative; });
                  .screen({ .translate(0, 0); }, { .translate(0, 0); });
                  .screen({ left: auto; }, { left: auto; });
                  .screen({ top: auto; }, { top: auto; });
                  font-weight: 600;
                  display: block;
                  width: 100%;
                  .transition();
                  strong {
                    white-space: normal;
                    .screen({ display: inline-block; }, { display: block; });
                    .screen({ width: auto }, { width: 100%; });
                    font-weight: 600;
                  }
                }
                &:hover, &.active {
                  color: @green;
                  background-color: transparent;
                  &:after {
                    height: 3px;
                  }
                }
              }
              &:last-child {
                a {
                  &:after {
                    height: 0;
                  }
                  &:hover, &.active {
                    &:after {
                      height: 3px;
                    }
                  }
                }
              }
            }
          }
        }
        &.sddtc {
          text-align: right;
          li {
            &.large-item {
              .screen({ width: 100%; }, { width: 19%; });
            }
            &.small-item {
              .screen({ width: 100%; }, { width: 12%; });
            }
          }
        }
      }
    }
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu, .navbar-nav .dropdown .submenu {
  position: absolute;
  top: 100%;
  background-color: white;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu.pull-right, .navbar-nav .dropdown .pull-right.submenu {
  right: 0;
  left: auto;
}

.dropdown-menu .divider, .navbar-nav .dropdown .submenu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a, .navbar-nav .dropdown .submenu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .navbar-nav .dropdown .submenu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-nav .dropdown .submenu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a, .navbar-nav .dropdown .submenu > .active > a, .dropdown-menu > .active > a:hover, .navbar-nav .dropdown .submenu > .active > a:hover, .dropdown-menu > .active > a:focus, .navbar-nav .dropdown .submenu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu > .disabled > a, .navbar-nav .dropdown .submenu > .disabled > a, .dropdown-menu > .disabled > a:hover, .navbar-nav .dropdown .submenu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus, .navbar-nav .dropdown .submenu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover, .navbar-nav .dropdown .submenu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus, .navbar-nav .dropdown .submenu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.open > .dropdown-menu, .navbar-nav .dropdown .open > .submenu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu, .navbar-nav .dropdown .pull-right > .submenu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu, .dropup .navbar-nav .dropdown .submenu, .navbar-nav .dropdown .dropup .submenu,
.navbar-fixed-bottom .dropdown .dropdown-menu,
.navbar-fixed-bottom .navbar-nav .dropdown .submenu,
.navbar-nav .navbar-fixed-bottom .dropdown .submenu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu, .navbar-right .navbar-nav .dropdown .submenu, .navbar-nav .dropdown .navbar-right .submenu {
    right: 0;
    left: auto;
  }

  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #MIXINS
\*------------------------------------*/
/**
 * Media Queries
 */
/*------------------------------------*\
  #NAVBAR-NAV
\*------------------------------------*/
.navbar-nav .open > .submenu {
  display: block;
}

.navbar-nav .dropdown li {
  position: relative;
}

.navbar-nav .dropdown li.dropdown-parent a, .navbar-nav .dropdown .submenu li.dropdown-parent a {
  padding-left: 15px;
}

.navbar-nav .dropdown li a {
  max-width: 100%;
  white-space: normal;
  padding-left: 22px;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown li a {
    white-space: nowrap;
  }

  .navbar-nav .dropdown li a .caret {
    border-left: 4px dashed;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.navbar-nav .dropdown .divider {
  margin: 7px 0;
}

.navbar-nav .dropdown .submenu {
  float: none;
  display: none;
  position: relative;
  padding: 5px 15px 5px 25px;
  clear: both;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown .submenu {
    position: absolute;
    top: -8px;
    left: 100%;
    padding: 5px 0;
    min-width: 160px;
    z-index: 1000;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .navbar-nav .dropdown .submenu > li > a {
    padding-left: 22px;
    color: #262626;
  }
}

.navbar-nav .dropdown .submenu .active > a, .navbar-nav .dropdown .submenu .active > a:hover, .navbar-nav .dropdown .submenu .active > a:focus {
  color: #262626;
}

.navbar-nav .dropdown .submenu li a {
  display: block;
  font-weight: normal;
  line-height: 1.428571429;
  color: #777;
}

@media (min-width: 768px) {
  .navbar-nav .dropdown .submenu li a {
    color: #262626;
  }
}

@media (min-width: 768px) {
  .navbar-nav li a {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .navbar-nav li a {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
  }
}

.navbar {
  margin-bottom: 0;
}
