//Dialog Login
#login {
  .modal-dialog {
    .screen({ width: 310px; }, { width: 550px; }, { width: 600px; });
    margin: 50px auto;
  }
  .modal-body {
    padding: 0;
    .tab-login {
      .border-radius-custom(5px, 5px, 0, 0);
      display: block;
      width: 100%;
      overflow: hidden;
      li {
        display: inline-block;
        width: 50%;
        a {
          display: block;
          width: 100%;
          text-transform: uppercase;
          .screen({ padding: 10px 0; }, { padding: 25px 0; });
          .screen({ font-size: 14px; }, { font-size: 16px; });
          text-align: center;
          font-weight: 900;
          color: white;
          background-color: @red;
          .transition();
        }
        &.active {
          a {
            background-color: white;
            color: @red;
          }
        }
      }
    }
    .login-form, .register-form {
      display: block;
      width: 100%;
      padding: 40px 30px 0;
      .title-reg {
        display: block;
        margin: 5px 0 25px;
        font-size: 22px;
        color: @red;
        text-align: center;
        padding-bottom: 15px;
        position: relative;
        &:after {
          width: 75px;
          display: block;
          content: '';
          height: 2px;
          .border-radius(25px);
          position: absolute;
          bottom: 0;
          left: 50%;
          background-color: @red;
          .translate(-50%, 0);
        }
        span {
          font-weight: 900;
          position: relative;
          display: inline-block;
        }
      }
      .upload-media {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        .screen-xs({ margin-bottom: 15px; });
        .upload-btn-wrapper {
          position: relative;
          display: block;
          height: 100px;
          width: 100%;
          box-shadow: 0 0 25px #ccc;
          .border-radius(15px);
          &:after {
            content: '';
            display: block;
            background: url("../images/icon/camera.png") no-repeat center;
            width: 24px;
            height: 21px;
            position: absolute;
            right: 5px;
            top: 5px;
          }
          .btn {
            height: 100px;
            width: 100%;
            color: gray;
            background-color: white;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            left: 0;
            top: 0;
            .icon-mom {
              display: block;
              background: url("../images/icon/mom.png") no-repeat center;
              width: 71px;
              height: 83px;
              position: absolute;
              left: 50%;
              top: 50%;
              .translate(-50%, -50%);
            }
            .icon-baby {
              display: block;
              background: url("../images/icon/baby.png") no-repeat center;
              width: 78px;
              height: 69px;
              position: absolute;
              left: 50%;
              top: 50%;
              .translate(-50%, -50%);
            }
          }
        }
        .upload-btn-wrapper input[type=file] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      .btn-submit-contact-form {
        display: block;
        padding: 8px 35px;
        border: 2px solid @red;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 auto;
        .border-radius(25px);
        .transition();
        background-color: @red;
        color: white;
        .screen-xs({ margin-bottom: 10px });
        &:hover {
          color: @red;
          background-color: white;
        }
      }
      .forgot-pw {
        .screen-xs({ margin-bottom: 15px });
        color: @green;
        display: inline-block;
      }
      .email-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/mail.png") no-repeat center;
          width: 26px;
          height: 20px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .password-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/key.png") no-repeat center;
          width: 24px;
          height: 26px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .name-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/person.png") no-repeat center;
          width: 25px;
          height: 25px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .gender-baby-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/gender.png") no-repeat center;
          width: 24px;
          height: 24px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .birthday-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/cake.png") no-repeat center;
          width: 28px;
          height: 24px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .select-form {
        position: relative;
        display: block;
        .chevron-down {
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          .translate(0, -50%);
        }
      }
      .birthday-block {
        position: relative;
        display: block;
        .calendar-icon {
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          .translate(0, -50%);
        }
      }
      .location-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/map-marker.png") no-repeat center;
          width: 21px;
          height: 24px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
      .phone-number-icon {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("../images/icon/phone.png") no-repeat center;
          width: 24px;
          height: 24px;
          left: 50%;
          top: 50%;
          .translate(-50%, -50%);
        }
      }
    }
    .footer-dialog {
      display: block;
      width: 100%;
      padding: 15px 30px 40px;
      .title-footer-dialog {
        text-align: center;
        display: block;
        position: relative;
        width: 100%;
        &:after {
          position: absolute;
          width: 100%;
          border-top: 2px dashed @green;
          content: '';
          left: 0;
          top: 10px;
          z-index: 0;
        }
        span {
          background-color: white;
          padding: 0 15px;
          font-size: 22px;
          font-weight: 900;
          z-index: 1;
          color: @red;
          position: relative;
        }
      }
      .login-social {
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px 0 15px;
        li {
          display: inline-block;
          margin: 0 5px;
          .icon-fb, .icon-gg, .icon-yt {
            display: block;
            width: 40px;
            height: 40px;
            .border-radius(50%);
          }
          .icon-fb {
            background: url("../images/home/icon-fb.png") no-repeat center;
          }
          .icon-gg {
            background: url("../images/home/icon-gg.png") no-repeat center;
          }
          .icon-yt {
            background: url("../images/home/icon-yt.png") no-repeat center;
          }
        }
      }
    }
  }
}

//Nutifood promotion
.nuti-promotion {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: url("../images/home/nuti-promotion.png") no-repeat top center/ contain;
  padding: 50px 0;
  .title-nuti {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    .screen({ margin-top: 30px; }, { margin-top: 100px; }, { margin-top: 150px; });
    img {
      display: block;
      margin: 0 auto 20px;
    }
    .title-promotion, .title-sub-promotion {
      display: block;
      width: 100%;
      color: @red;
      margin: 15px;
      font-size: 20px;
      text-transform: uppercase;
      position: relative;
      font-weight: 900;
      &.border-bottom {
        padding-bottom: 35px;
        margin-bottom: 35px;
        &:after {
          position: absolute;
          width: 100px;
          height: 3px;
          .border-radius(4px);
          background-color: @red;
          content: '';
          left: 50%;
          margin-left: -50px;
          bottom: 0;
        }
      }
    }
    .title-sub-promotion {
      font-size: 32px;
    }
  }
  .intro-nuti {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    .nuti-brand {
      display: block;
      width: 100%;
      margin: 25px 0 50px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .nuti-block {
      display: block;
      width: 100%;
      position: relative;
      padding-left: 110px;
      min-height: 110px;
      &:after {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        .border-radius(50%);
      }
      .text-desc {
        padding-top: 15px;
        display: block;
        width: 100%;
        position: relative;
        .small-block, .large-block {
          display: inline-block;
          color: @red;
          text-transform: uppercase;
          font-weight: 900;
        }
        .small-block {
          .screen({ font-size: 12px; }, { font-size: 14px; });
        }
        .large-block {
          .screen({ font-size: 22px; }, { font-size: 33px; });

        }
      }
      &.nt1 {
        &:after {
          background: url("../images/home/nt1.png") no-repeat center center / cover;
        }
        .text-desc {
          .small-block {
            max-width: 100px;
          }
        }
      }
      &.nt2 {
        &:after {
          background: url("../images/home/nt2.png") no-repeat center center / cover;
        }
        .text-desc {
          .small-block {
            .screen({ max-width: 70px }, { max-width: 85px; });
          }
        }
      }
      &.nt3 {
        &:after {
          background: url("../images/home/nt3.png") no-repeat center center / cover;
        }
        .text-desc {
          .small-block {
            max-width: 150px;
          }
        }
      }
      &.nt4 {
        &:after {
          background: url("../images/home/nt4.png") no-repeat center center / cover;
        }
        .text-desc {
          .small-block {
            .screen({ line-height: 18px; }, { line-height: 40px; });
            max-width: 100px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

//LOCATION STATE
.location-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;

  min-height: 845px;
  .screen({ max-width: 1180px; }, { max-width: 1280px; });
  .screen({ padding-top: 20px; }, { padding-top: 40px; });
  .location-background {
    width: 100%;
    display: block;
    .screen({ position: relative; }, { position: absolute; });
    .screen({ top: auto; }, { top: 50px; });
    .screen({ margin-top: 30px; }, { margin-top: 0; });
    z-index: 0;
    .location-animation {
      .screen({ position: relative; }, { position: absolute; });
      top: 0;
      right: 0;
      .bb1 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        left: -160px;
        top: 0;
        .screen({ left: 0; }, { left: 180px; }, { left: -160px; });
        .screen({ width: 75px; height: 75px; }, { width: 75px; height: 75px; }, { width: 150px; height: 150px; });
        .border-radius(50%);
        background: url("../images/home/bb1.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      .bb2 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        top: 25px;
        .screen({ right: 40px; }, { right: 40px; }, { right: 0 });
        .screen({ width: 50px; height: 50px; }, { width: 50px; height: 50px; }, { width: 100px; height: 100px; });
        .border-radius(50%);
        background: url("../images/home/bb2.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      .bb3 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        top: 50%;
        .screen({ left: 10px; }, { left: 250px }, { left: 0 });
        .translate(0, -50%);
        .screen({ width: 110px; height: 110px; }, { width: 110px; height: 110px; }, { width: 210px; height: 210px; });
        .border-radius(50%);
        background: url("../images/home/bb3.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      .bb4 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        bottom: 0;
        .translate(-50%, 0);
        .screen({ right: 110px; }, { right: 70px; }, { right: 140px });
        .screen({ width: 40px; height: 40px; }, { width: 40px; height: 40px; }, { width: 85px; height: 85px; });
        .border-radius(50%);
        background: url("../images/home/bb4.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      img {
        z-index: 0;
        position: relative;
        display: block;
        .screen-sm({ width: 50% });
        .screen-sm({ float: right });
      }
    }
  }
  .location-content {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    .location-block {
      display: block;
      width: 100%;
      position: relative;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 50px;
      .location-title {
        display: block;
        font-size: 22px;
        text-transform: uppercase;
        color: @green;
        font-weight: 900;
        margin-bottom: 25px;
      }
      .location-sub-title {
        display: block;
        font-size: 22px;
        color: @red;
        font-weight: 900;
        margin-bottom: 10px;
      }
      .location-big-title {
        display: block;
        font-size: 30px;
        color: @red;
        font-weight: 900;
        padding-bottom: 15px;
        position: relative;
        margin-bottom: 40px;
        &:after {
          position: absolute;
          width: 100px;
          height: 3px;
          .border-radius(4px);
          background-color: @red;
          content: '';
          left: 0;
          bottom: 0;
        }
      }
      .location-content-block {
        display: block;
        position: relative;
        .screen({ max-width: 100%; }, { max-width: 40%; });
        margin-bottom: 20px;
      }

      .location-view {
        display: block;
        width: 210px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 8px 15px;
        text-align: center;
        font-size: 14px;
        border: 2px solid @red;
        color: white;
        background-color: @red;
        .border-radius(25px);
        .transition();
        &:hover {
          color: @red;
          background-color: white;
        }
      }
    }
    .box-knowledge {
      .transition();
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: block;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.85);
      .border-radius(14px);
      .screen({ min-height: 180px; }, { min-height: 250px; });
      margin-top: 15px;
      margin-bottom: 25px;
      .screen({ padding: 5px; }, { padding: 15px; });
      &:hover {
        background-color: @red;
        .box-detail {
          .box-title {
            color: white;
          }
        }
      }
      .box-thumbnail {
        display: block;
        width: 100%;
        overflow: hidden;
        .border-radius(7px);
        .screen({ height: 110px; }, { height: 120px; });
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .screen({ margin-bottom: 5px; }, { margin-bottom: 15px; });
      }
      .box-detail {
        display: block;
        width: 100%;
        .box-title {
          display: block;
          width: 100%;
          color: #333;
          font-weight: 900;
          .screen({ font-size: 12px; }, { font-size: 15px; });
          .transition();
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.doctor-contact {
  position: fixed;
  right: 15px;
  bottom: 65px;
  .hotline {
    position: absolute;
    right: 0;
    width: 200px;
    padding: 8px 50px 8px 15px;
    color: white;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    .border-radius(25px);
    font-size: 10px;
    .transition();
    z-index: 9;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: -1px;
      width: 46px;
      height: 46px;
    }

    &.red {
      border: 2px solid @red;
      background-color: @red;
      bottom: 0;
      &:after {
        background: url("../images/hotline1.gif") no-repeat;
      }
    }
    &.green {
      border: 2px solid @green;
      background-color: @green;
      bottom: -50px;
      &:after {
        background: url("../images/hotline2.png") no-repeat;
      }
    }
    &:hover {
      background-color: white;
      &.red {
        color: @red;
      }
      &.green {
        color: @green;
      }
    }
  }
}

//SLIDE HOME
#slide-header {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  .slick-dots {
    top: 50%;
    z-index: 1;
    bottom: auto;
    .screen({ left: 20px; }, { left: 30px; }, { left: 50px; });
    width: auto;
    .translate(-50%, -50%);
    li {
      display: block;
    }
    li button:before {
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
      content: "";
      width: 10px;
      height: 10px;
      font-size: 0;
      line-height: 20px;
      text-align: center;
      color: #000;
      opacity: 1;
      border: 1px solid @red;
      .border-radius(50%);
      .transition();
    }
    li.slick-active button:before {
      background-color: @red;
      opacity: 1;
    }
  }
  .slider {
    .slide-wrapper {
      position: relative;
      display: block;
      width: 100%;
      .banner-slide {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        .screen({ background-position: left; }, { background-position: center; });
        background-size: cover;
        .screen({ min-height: 190px; }, { min-height: 230px; }, { min-height: 190px; });
        img {
          width: 100%;
          display: block;
        }
      }
      .slide-block {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
      }
    }
    &.slick-active, &.slick-cloned {
      .slide1 {
        .title-slide1 {
          img {
            .animation(zoomInBlock, 1.2s, 0.8s, both);
          }
        }
      }
      .slide2 {
        .title-slide2 {
          img {
            .animation(fadeInTop, 1s, 0.8s, both);
          }
        }
        .product {
          .pro1 {
            img {
              .animation(fadeInLeft, 1s, 0.8s, both);
            }
            .sub-pro {
              img {
                .animation(fadeInBottom, 1s, 1.8s, both);
              }
            }
          }
          .pro3 {
            img {
              .animation(fadeInRight, 1s, 0.8s, both);
            }
            .sub-pro {
              img {
                .animation(fadeInBottom, 1s, 1.8s, both);
              }
            }
          }
          .pro2 {
            img {
              .animation(fadeInBottom, 1s, 0.8s, both);
            }
            .sub-pro {
              img {
                .animation(fadeInBottom, 1s, 1.8s, both);
              }
            }
          }
        }
      }
    }
    .slide1 {
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      text-align: right;
      .title-slide1 {
        display: block;
        position: absolute;
        .screen({ top: 80px; }, { top: 145px; }, { top: 250px; }, { top: 350px; });
        .screen({ right: -90px; }, { right: -100px; }, { right: 55px; }, { right: 45px; });
        img {
          .animation(fadeOutLeft, 0.6s, 0, both);
          display: block;
          .screen({ width: 30%; }, { width: 65%; }, { width: 100%; });
        }
      }
    }
    .slide2 {
      display: block;
      width: 100%;
      position: relative;
      .screen({ padding-bottom: 0; }, { padding-bottom: 100px; });
      .title-slide2 {
        display: block;
        width: 100%;
        .screen({ margin: 5px auto; }, { margin: 35px auto 20px; });
        img {
          .screen({ width: 35%; }, { width: 50%; }, { width: auto; });
          margin: 0 auto;
          display: block;
          .animation(fadeOutLeft, 0.6s, 0, both);
        }
      }
      .product {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        .pro1, .pro2, .pro3 {
          position: relative;
          display: inline-block;
          width: 25%;
          vertical-align: top;
          margin: 0 auto;
          .animation(fadeOutLeft, 0.6s, 0, both);
          .sub-pro {
            position: absolute;
            left: 0;
            bottom: 0;
            .animation(fadeOutLeft, 0.6s, 0, both);
          }
          img {
            .animation(fadeOutLeft, 0.6s, 0, both);
            margin: 0 auto;
            width: auto;
            display: block;
          }
        }
        .pro1 {
          .sub-pro {
            bottom: -75px;
          }
        }
        .pro3 {
          .sub-pro {
            bottom: -80px;
          }
        }
        .pro2 {
          .screen({ width: 30%; }, { width: 45%; });
          .sub-pro {
            bottom: -100px;
          }
        }
      }
    }
  }
  .preview-block {
    .screen({ position: relative; }, { position: absolute; });
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    .item {
      display: block;
      width: 100%;
      z-index: 1;
      .screen({ margin-top: 10px; }, { margin-top: 0; }, { margin-top: 30px; });
      .screen({ padding: 0; }, { padding: 10px; });
      .box-knowledge {
        .transition();
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        .border-radius(14px);
        .screen({ min-height: 0; }, { min-height: 0; }, { min-height: 250px; });
        .screen({ margin-top: 5px; }, { margin-top: 15px; }, { margin-top: 25px; });
        .screen({ padding: 5px; }, { padding: 10px; }, { padding: 15px; });
        .screen({ margin-bottom: 10px; }, { margin-bottom: 15px; }, { margin-bottom: 25px; });
        &:hover {
          background-color: @red;
          .box-detail {
            .box-title {
              color: white;
            }
          }
        }
        .box-thumbnail {
          .screen({ height: 110px; }, { height: 85px; }, { height: 120px; });
          .screen({ margin-bottom: 0; }, { margin-bottom: 0; }, { margin-bottom: 15px; });
          display: block;
          width: 100%;
          overflow: hidden;
          .border-radius(7px);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .box-detail {
          .screen({ display: block; }, { display: none; }, { display: block; });
          width: 100%;
          .box-title {
            display: block;
            width: 100%;
            font-size: 15px;
            color: #333;
            font-weight: 900;
            .transition();
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

//TIME LINE
#home-content {
  padding-bottom: 7.1%;
  width: 100%;
  overflow: hidden;
  position: relative;
  .screen({ }, { }, { max-width: 1180px; }, { max-width: 1440px; });
  margin: -50px auto 0;
  .article {
    clear: both;
    position: relative;
    .triggerAnimate {
      width: 100%;
      height: 1px;
      position: absolute;
      top: 5%;
      left: 0;
    }
    .img {
      .screen({ width: 100%; }, { width: 58.5%; });
      float: left;
      position: relative;
      img {
        position: relative;
        .screen({ width: 100%; margin-left: 0; }, { width: 100%; margin-left: 0; }, { width: 80%; margin-left: 20%; }, { width: 85%; margin-left: 15%; });
      }
    }
    .text {
      float: right;
      .screen({ width: 100%; }, { width: 41.5%; });
      .screen({ padding-left: 5%; }, { padding-left: 1.1%; });
      .screen({ padding-right: 5%; }, { padding-right: 8.9%; });
      display: block;
      .text-table {
        table-layout: fixed;
        display: table;
        position: relative;
        height: 100%;
        width: 100%;
        &.left {
          .screen({ margin-left: 0; }, { margin-left: 15%; }, { margin-left: 25%; });
        }
        .inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .title {
        .screen({ margin: 10px auto 0; }, { margin: 20px auto 0; }, { margin: 20px auto 0; }, { margin: 150px auto 0; });
        text-align: center;
        .main-title {
          margin-bottom: 15px;
        }
        .title-content {
          margin-bottom: 15px;
          font-size: 20px;
          color: @red;
          text-transform: uppercase;
          font-weight: 900;
        }
        .sub-content {
          margin-bottom: 15px;
          font-size: 32px;
          color: @red;
          font-family: @sub-font;
        }
      }

      .content {
        line-height: 1.6;
        margin-bottom: 6%;
        .view-more-action {
          width: 210px;
          margin: 25px auto 0;
          text-transform: uppercase;
          font-weight: 900;
          padding: 8px 15px;
          text-align: center;
          font-size: 14px;
          display: inline-block;
          border: 2px solid @red;
          .border-radius(25px);
          .transition();
          color: white;
          background-color: @red;
          &:hover {
            color: @red;
            background-color: white;
          }
        }
      }
    }
    &.orange {
      .img {
        float: right;
      }
      .text {
        .title {
          .title-content {
            color: @orange;
          }
          .sub-content {
            color: @orange;
          }
        }
        .content {
          .view-more-action {
            color: white;
            background-color: @orange;
            border: 2px solid @orange;
            &:hover {
              background-color: white;
              color: @orange;
            }
          }
        }
      }
    }
    &.blue {
      .text {
        .title {
          .title-content {
            color: @blue;
          }
          .sub-content {
            color: @blue;
          }
        }
        .content {
          .view-more-action {
            color: white;
            background-color: @blue;
            border: 2px solid @blue;
            &:hover {
              color: @blue;
              background-color: white;
            }
          }
        }
      }
    }
  }
  .wrapsvg {
    width: 100%;
    height: 98.85%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    top: 1.15%;
    left: 0;
    .screen-xs({ display: none });
    .screen-sm({ display: none });
    svg {
      width: 100%;
      height: 100%;
    }
    .svgImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

//KNOWLEDGE SECTION
.knowledge-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: url("../images/home/knowledge-banner.png") no-repeat center center/ cover;
  .content-knowledge {
    padding: 40px 0 80px;
    display: block;
    width: 100%;
    .slick-prev, .slick-next {
      .screen({ width: 30px; }, { width: 60px; });
      .screen({ height: 30px; }, { height: 60px; });
      .border-radius(50%);
      background-color: rgba(255, 255, 255, 0.83);
      z-index: 1;
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 50%;
        color: @green;
        .screen({ font-size: 20px; }, { font-size: 35px; });
        .translate(-50%, -50%);
      }
    }
    .slick-prev {
      .screen({ left: 10px; }, { left: -25px; });
      &:before {
        left: 45%;
        content: "\f104";
      }
    }
    .slick-next {
      .screen({ right: 10px; }, { right: -25px; });
      &:before {
        right: 25%;
        content: "\f105";
      }
    }
    .slick-dots li button:before {
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
      content: "";
      width: 10px;
      height: 10px;
      font-size: 0;
      line-height: 20px;
      text-align: center;
      color: #000;
      opacity: 1;
      border: 1px solid rgba(255, 189, 0, 0.83);
      .border-radius(50%);
      .transition();
    }
    .slick-dots li.slick-active button:before {
      background-color: rgba(255, 189, 0, 0.83);
      opacity: 1;
    }
    .title-knowledge-small, .title-knowledge-big {
      color: @red;
      font-weight: 900;
      position: relative;
      display: block;
    }
    .title-knowledge-small {
      font-size: 22px;
    }
    .title-knowledge-big {
      margin-bottom: 40px;
      span {
        font-weight: 900;
        .screen({ font-size: 30px; }, { font-size: 35px; }, { font-size: 40px; });
        padding-bottom: 20px;
        display: inline-block;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          background-color: @red;
          width: 90%;
          height: 2px;
          .border-radius(2px);
        }
      }
    }
    .tab-knowledge {
      display: block;
      width: 100%;
      text-align: center;
      .screen({ margin-bottom: 20px; }, { margin-bottom: 40px; });
      li {
        .screen({ width: 100%; }, { width: 30%; });
        .screen({ display: block; }, { display: inline-block; });
        .screen({ margin: 0 5px 10px; }, { margin: 0 5px; });
        vertical-align: top;
        a {
          display: block;
          width: 100%;
          text-transform: uppercase;
          font-weight: 700;
          padding: 8px 15px;
          text-align: center;
          .screen({ font-size: 13px; }, { font-size: 16px; });
          .transition();
          .border-radius(25px);
        }
        &.style1 {
          a {
            border: 1px solid @red;
            color: @red;
            &:hover {
              color: white;
              background-color: @red;
            }
          }
          &.active {
            a {
              color: white;
              background-color: @red;
            }
          }
        }
        &.style2 {
          a {
            border: 1px solid @orange;
            color: @orange;
            &:hover {
              color: white;
              background-color: @orange;
            }
          }
          &.active {
            a {
              color: white;
              background-color: @orange;
            }
          }
        }
        &.style3 {
          a {
            border: 1px solid @blue;
            color: @blue;
            &:hover {
              color: white;
              background-color: @blue;
            }
          }
          &.active {
            a {
              color: white;
              background-color: @blue;
            }
          }
        }
      }
    }
    // Bootstrap Resets
    .tab-content > .tab-pane {
      display: block;
      visibility: hidden;
    }
    .tab-content > .tab-pane.active {
      visibility: visible;
    }
    .tab-content {
      position: relative;
    }
    .tab-pane:not(:first-child) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .tab-content {
      .item {
        display: block;
        width: 100%;
        padding: 10px;
        .box-knowledge {
          .transition();
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          display: block;
          width: 100%;
          background-color: white;
          .border-radius(14px);
          min-height: 250px;
          padding: 15px;
          .box-thumbnail {
            display: block;
            width: 100%;
            overflow: hidden;
            .border-radius(7px);
            .screen({ height: 110px; }, { height: 120px; });
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 15px;
          }
          .box-detail {
            display: block;
            width: 100%;
            .box-title {
              display: block;
              width: 100%;
              font-size: 15px;
              color: #333;
              font-weight: 900;
              .transition();
              &:hover {
                color: white;
              }
            }
          }
        }
      }
      .tab-pane {
        .view-more {
          display: block;
          width: 100%;
          text-align: right;
          a {
            .transition();
            display: inline-block;
            font-weight: 900;
            position: relative;
            padding-bottom: 10px;
            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              .border-radius(2px);
              position: absolute;
            }
          }
        }
        &.style1 {
          .item {
            .box-knowledge {
              &:hover {
                background-color: @red;
                .box-detail {
                  .box-title {
                    color: white;
                  }
                }
              }
            }
          }
          .view-more {
            a {
              color: @red;
              &:hover {
                color: @red-light;
              }
              &:after {
                background-color: @red;
              }
            }
          }
        }
        &.style2 {
          .item {
            .box-knowledge {
              &:hover {
                background-color: @orange;
                .box-detail {
                  .box-title {
                    color: white;
                  }
                }
              }
            }
          }
          .view-more {
            a {
              color: @orange;
              &:hover {
                color: @orange-light;
              }
              &:after {
                background-color: @orange;
              }
            }
          }
        }
        &.style3 {
          .item {
            .box-knowledge {
              &:hover {
                background-color: @blue;
                .box-detail {
                  .box-title {
                    color: white;
                  }
                }
              }
            }
          }
          .view-more {
            a {
              color: @blue;
              &:hover {
                color: @blue-light;
              }
              &:after {
                background-color: @blue;
              }
            }
          }
        }
      }
    }
  }
}

//QUESTION SECTION
.question-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  .question-thumbnail {
    width: 100%;
    display: block;
  }
  .content-question {
    width: 100%;
    display: block;
    .screen({ .translate(0, 0); }, { .translate(0, -50%); });
    .screen({ position: relative; }, { position: absolute; });
    .screen({ top: auto; }, { top: 40%; });
    left: 0;
    .title-question-small, .title-question-big {
      color: @red;
      font-weight: 900;
      position: relative;
      display: block;
    }
    .title-question-small {
      .screen({ font-size: 20px; }, { font-size: 23px; }, { font-size: 27px; });
      margin-bottom: 3px;
    }
    .title-question-big {
      margin-bottom: 40px;
      span {
        font-weight: 900;
        .screen({ font-size: 30px; }, { font-size: 35px; }, { font-size: 40px; });
        padding-bottom: 20px;
        display: inline-block;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          background-color: @red;
          width: 125px;
          height: 3px;
          .border-radius(2px);
        }
      }
    }
    .question-desc {
      display: block;
      width: 100%;
      margin-bottom: 25px;
      @media (min-width: 1200px) {
        width: 58%;
      }
    }
    .question-action {
      display: block;
      width: 100%;
      .screen({ margin: 25px 0 40px; }, { margin: 0; });
      li {
        .screen({ display: block; }, { display: inline-block; });
        .screen({ margin-right: 0; }, { margin-right: 15px; });
        .screen({ margin-bottom: 10px; }, { margin-bottom: 0; });
        &:last-child {
          margin-right: 0;
        }
        a {
          .screen({ display: block; }, { display: inherit; });
          text-transform: uppercase;
          color: white;
          padding: 8px 25px;
          font-weight: 900;
          text-align: center;
          .border-radius(25px);
          .transition();
          .screen({ font-size: 12px; }, { font-size: 16px; });
          &.check-action {
            border: 2px solid @green;
            color: white;
            background-color: @green;
            margin-bottom: 15px;
            &:hover {
              color: @green;
              background-color: white;
            }
          }
          &.answer-question {
            border: 2px solid @red;
            color: white;
            background-color: @red;
            &:hover {
              background-color: white;
              color: @red;
            }
          }
        }
      }
    }
  }
}

//VIDEO SECTION
.video-wrapper {
  display: block;
  width: 100%;
  position: relative;
  background: url("../images/videos/video-bg.gif") no-repeat center center/ cover;
  margin: 0 auto;
  padding: 40px 0 80px;
  .view-more-video {
    display: block;
    width: 100%;
    text-align: right;
    .view-btn {
      display: inline-block;
      font-size: 14px;
      font-weight: 900;
      color: @red;
      padding: 10px;
      position: relative;
      .transition();
      &:hover {
        color: @red-light;
      }
      &:after {
        position: absolute;
        left: 0;
        content: '';
        bottom: 0;
        width: 100%;
        height: 2px;
        .border-radius(2px);
        background-color: @red;
      }
    }
  }
  .title-video-small, .title-video-big {
    color: @red;
    font-weight: 900;
    position: relative;
    display: block;
  }
  .title-video-small {
    font-size: 22px;
  }
  .title-video-big {
    margin-bottom: 40px;
    span {
      font-weight: 900;
      .screen({ font-size: 30px; }, { font-size: 35px; }, { font-size: 40px; });
      padding-bottom: 20px;
      display: inline-block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        background-color: @red;
        width: 90%;
        height: 2px;
        .border-radius(2px);
      }
    }
  }
  .big-video {
    display: block;
    width: 100%;
    .screen({ margin-bottom: 15px; }, { margin-bottom: 0; });
    .video-block {
      display: block;
      width: 100%;
      .border-radius(14px);
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      padding: 10px;
      .transition();
      margin-bottom: 25px;
      &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      }
      .video-content {
        .border-radius(7px);
        background-color: #333;
        position: relative;
        width: 100%;
        display: block;
        min-height: 255px;
        .play-video {
          position: relative;
          width: 100%;
          display: block;
          &.thumbnail-video {
            .screen({ min-height: 255px; }, { min-height: 365px; });
            padding: 25px 0;
            display: block;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .screen({ position: absolute; }, { position: relative; })
          }
          i {
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
            font-size: 70px;
          }
        }
      }
    }
    .desc-video {
      display: block;
      width: 100%;
      .title-desc {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 22px;
          color: @green;
          font-weight: 900;
          .transition();
          &:hover {
            color: @green-light;
          }
        }
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
  .small-video {
    display: block;
    width: 100%;
    .video-small-block {
      display: block;
      position: relative;
      width: 100%;
      .border-radius(14px);
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      padding: 10px;
      .transition();
      margin-bottom: 25px;
      .screen({ min-height: 265px; }, { min-height: 100%; });
      .small-thumbnail {
        display: block;
        position: relative;
        height: 125px;
        margin-bottom: 15px;
        overflow: hidden;
        .border-radius(7px);
        span {
          .border-radius(7px);
          left: 0;
          top: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .title-small-video {
        min-height: 75px;
        font-size: 16px;
        color: #333;
        font-weight: 900;
        display: block;
        width: 100%;
        margin-bottom: 15px;
        .transition();
      }
      &:hover {
        background-color: @red;
        .title-small-video {
          color: white;
        }
      }
    }
  }
}

