.key-gold {
  display: block;
  background: url("../images/sddtc/keygold-bg.png") no-repeat top center / contain;
  width: 100%;
  height: 100%;
  position: relative;
  .pin-post, .user-comment {
    padding-left: 60px;
    width: 100%;
    .bs-name {
      font-weight: 900;
      color: @green;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
  }
  .view-more-reply {
    color: @green;
    padding-left: 60px;
    display: inline-block;
  }
  .write-reply {
    margin-bottom: 15px;
  }
  .list-news {
    margin-top: 35px;
  }
  .question-child-wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    .heart {
      display: block;
      padding-left: 25px;
      &:after {
        background: url("../images/sddtc/heart.png") no-repeat;
        content: '';
        width: 21px;
        height: 18px;
        position: absolute;
        left: 15px;
        top: 0;
      }
      &.active {
        &:after {
          background: url("../images/sddtc/heart-active.png") no-repeat;
        }
      }
      &:hover {
        &:after {
          background: url("../images/sddtc/heart-active.png") no-repeat;
        }
      }
    }
  }
  .view-more, .get-question-btn {
    margin: 35px 0;
    display: inline-block;
    padding: 8px 35px;
    border: 2px solid @red;
    font-weight: 900;
    text-transform: uppercase;
    .border-radius(25px);
    .transition();
    background-color: @red;
    color: white;
    &:hover {
      color: @red;
      background-color: white;
    }
  }
  .view-more {
    .screen-xs({ margin: 80px 0 });
  }
}

.get-question-btn {
  position: absolute;
  left: 50%;

  .translate(-50%, -50%);
  margin: 0 auto;
  display: inline-block;
  border: 2px solid @red;
  font-weight: 900;
  text-transform: uppercase;
  .border-radius(25px);
  .transition();
  background-color: @red;
  color: white;
  .screen({ top: 55%; }, { top: 50%; });
  .screen({ padding: 8px 15px; }, { padding: 8px 35px; });
  .screen-xs({ font-size: 12px });
  &:hover {
    color: @red;
    background-color: white;
  }
}