#momSecrest {
  display: block;
  width: 100%;
  margin: 0 0 50px;
  .create-member {
    background: url("../images/mom-secret/mom-banner.png") no-repeat center top;
    display: block;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
  }
  .login-form, .register-form {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    width: 100%;
    padding: 40px 30px 0;
    margin-bottom: 30px;
    box-shadow: 0 0 25px #ccc;
    .border-radius(8px);
    .title-reg {
      display: block;
      margin: 5px 0 25px;
      font-size: 32px;
      color: @red;
      text-align: center;
      padding-bottom: 15px;
      position: relative;
      &:after {
        width: 75px;
        display: block;
        content: '';
        height: 2px;
        .border-radius(25px);
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: @red;
        .translate(-50%, 0);
      }
      span {
        font-weight: 900;
        position: relative;
        display: inline-block;
      }
    }
    .upload-media {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      .screen-xs({ margin-bottom: 15px });
      .upload-btn-wrapper {
        position: relative;
        display: block;
        height: 100px;
        width: 100%;
        box-shadow: 0 0 25px #ccc;
        .border-radius(15px);
        &:after {
          content: '';
          display: block;
          background: url("../images/icon/camera.png") no-repeat center;
          width: 24px;
          height: 21px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
        .btn {
          height: 100px;
          width: 100%;
          color: gray;
          background-color: white;
          padding: 8px 20px;
          border-radius: 8px;
          font-size: 20px;
          font-weight: bold;
          position: absolute;
          left: 0;
          top: 0;
          .icon-mom {
            display: block;
            background: url("../images/icon/mom.png") no-repeat center;
            width: 71px;
            height: 83px;
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
          }
          .icon-baby {
            display: block;
            background: url("../images/icon/baby.png") no-repeat center;
            width: 78px;
            height: 69px;
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
          }
        }
      }
      .upload-btn-wrapper input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .btn-submit-contact-form {
      display: block;
      padding: 8px 35px;
      border: 2px solid @red;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 auto;
      background-color: @red;
      color: white;
      .border-radius(25px);
      .transition();
      .screen-xs({ margin-bottom: 10px });
      &:hover {
        color: @red;
        background-color: transparent;
      }
    }
    .forgot-pw {
      color: @green;
      display: inline-block;
    }
    .email-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/mail.png") no-repeat center;
        width: 26px;
        height: 20px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .password-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/key.png") no-repeat center;
        width: 24px;
        height: 26px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .name-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/person.png") no-repeat center;
        width: 25px;
        height: 25px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .gender-baby-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/gender.png") no-repeat center;
        width: 24px;
        height: 24px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .birthday-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/cake.png") no-repeat center;
        width: 28px;
        height: 24px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .select-form {
      position: relative;
      display: block;
      .chevron-down {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        .translate(0, -50%);
      }
    }
    .birthday-block {
      position: relative;
      display: block;
      .calendar-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        .translate(0, -50%);
      }
    }
    .location-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/map-marker.png") no-repeat center;
        width: 21px;
        height: 24px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
    .phone-number-icon {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/icon/phone.png") no-repeat center;
        width: 24px;
        height: 24px;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
    }
  }
  .share-moment {
    display: block;
    width: 100%;
    .screen({ margin: 15px auto 50px; }, { margin: 15px 0 50px; });
    .screen-xs({ text-align: center });
    .share-moment-btn {
      display: inline-block;
      padding: 8px 35px;
      background: @red;
      .border-radius(25px);
      color: white;
      font-weight: 700;
      border: 1px solid @red;
      &:hover {
        background: white;
        color: @red;
      }
    }
  }
  .banner-mom {
    display: block;
    width: 100%;
    position: relative;
    .banner-block {
      display: block;
      width: 100%;
      position: relative;
      .bg-banner {
        position: relative;
        display: block;
        width: 100%;
      }
      .banner-detail {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        .translate(0, -50%);
        display: block;
        .banner-info {
          display: block;
          width: 100%;
          img {
            display: block;
            width: auto;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .sub-title {
    display: block;
    width: 100%;
    color: @red;
    font-weight: 900;
    font-size: 26px;
  }
  .main-news {
    .news-caption {
      margin-bottom: 25px;
    }
  }
  .news-section {
    padding-top: 50px;
    &.block-mom {
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/mom-secret/banner-mom.png") no-repeat top left;
    }
  }
}

.pop-up-share {
  margin-top: 50px;
  display: block;
  width: 100%;
  padding: 40px 30px 0;
  margin-bottom: 30px;
  box-shadow: 0 0 25px #ccc;
  .border-radius(8px);
  background: #fff url("../images/mom-secret/banner-pop.png") no-repeat left top;
  .btn-submit-contact-form {
    display: block;
    padding: 8px 35px;
    border: 2px solid @red;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: @red;
    color: white;
    .border-radius(25px);
    .transition();
    .screen-xs({ margin-bottom: 10px });
    &:hover {
      color: @red;
      background-color: transparent;
    }
  }
  .list-preview {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    li {
      display: inline-block;
      padding: 0 5px;
      width: 24%;
      a {
        display: block;
        position: relative;
        img {
          display: block;
        }
      }
    }
  }
  .title-picture {
    display: block;
    margin: 25px 15px 15px;
    font-size: 18px;
    color: @green;
    text-align: left;
    position: relative;
    text-transform: uppercase;
  }
  .title-reg {
    display: block;
    margin: 5px 0 25px;
    font-size: 32px;
    color: @red;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    &:after {
      width: 75px;
      display: block;
      content: '';
      height: 2px;
      .border-radius(25px);
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: @red;
      .translate(-50%, 0);
    }
    span {
      font-weight: 900;
      position: relative;
      display: inline-block;
    }
  }
  .form-control {
    .border-radius(6px);
  }
  .upload-media-group {
    display: block;
    width: 100%;
    background-color: #E6E6E6;
    padding: 10px;
    .border-radius(6px);
    .screen-xs({ margin-bottom: 15px });
    p {
      font-size: 10px;
      line-height: 18px;
    }
    .upload-media {
      display: block;
      position: relative;
      width: 75px;
      height: 75px;
      background-color: #CCCCCC;
      .border-radius(6px);
      .icon-image, .icon-video {
        position: absolute;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
      }
      .icon-image {
        background: url("../images/mom-secret/image.png");
        width: 41px;
        height: 35px;
      }
      .icon-video {
        background: url("../images/mom-secret/video.png");
        width: 41px;
        height: 26px;
      }
    }
  }
  .control-label {
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
    color: @green;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    span {
      display: inline-block;
      font-size: 12px;
      color: #333;
      text-transform: none;
    }
  }
  .form-control {
    &.input-file {
      width: 250px;
      display: inline-block;
      margin-left: 15px;
      vertical-align: top;
    }
  }
  .upload-file {
    width: 55px;
    height: 40px;
    background-color: @green;
    .border-radius(6px);
    display: inline-block;
    position: relative;
    .icon-file {
      position: absolute;
      left: 50%;
      top: 50%;
      .translate(-50%, -50%);
      background: url("../images/mom-secret/upload-file.png");
      width: 15px;
      height: 29px;
    }
  }
  .share-success-wrapper {
    min-height: 450px;
    position: relative;
    width: 100%;
    .share-success-form {
      position: absolute;
      left: 50%;
      top: 50%;
      .translate(-50%, -50%);
      width: 100%;
      text-align: center;
      img {
        margin: 0 auto 30px;
        display: block;
      }
      p {
        font-size: 22px;
        margin-bottom: 30px;
      }
      .view-again {
        position: relative;
        padding-bottom: 10px;
        color: @red;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: @red;
        }
      }
    }
  }
}

.mom-story {
  display: block;
  width: 100%;
  position: relative;
  padding: 50px 0;
  background: url("../images/mom-secret/banner-story.png") no-repeat center center;
  &:after {
    width: 100%;
    height: 30px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    .gradient(grba(255, 255, 255, 1), grba(255, 255, 255, 0));
  }
  &:before {
    width: 100%;
    height: 30px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    .gradient(grba(255, 255, 255, 1), grba(255, 255, 255, 0));
  }
  .sub-title {
    display: block;
    width: 100%;
    color: @red;
    font-weight: 900;
    font-size: 26px;
  }
  .story-list {
    display: block;
    width: 100%;
    padding: 30px 0;
  }
  .slick-prev, .slick-next {
    .screen({ width: 30px; }, { width: 60px; });
    .screen({ height: 30px; }, { height: 60px; });
    .border-radius(50%);
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      color: @green;
      .screen({ font-size: 20px; }, { font-size: 35px; });
      .translate(-50%, -50%);
    }
  }
  .slick-prev {
    .screen({ left: 10px; }, { left: -25px; });
    &:before {
      left: 45%;
      content: "\f104";
    }
  }
  .slick-next {
    .screen({ right: 10px; }, { right: -25px; });
    &:before {
      right: 25%;
      content: "\f105";
    }
  }
  .item {
    display: block;
    width: 100%;
    padding: 10px;
    .box-knowledge {
      .transition();
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: block;
      width: 100%;
      background-color: white;
      .border-radius(14px);
      min-height: 250px;
      padding: 15px;
      &:hover {
        background-color: @green;
        .box-detail {
          .box-title {
            color: white;
          }
        }
      }
      .box-thumbnail {
        display: block;
        width: 100%;
        overflow: hidden;
        .border-radius(7px);
        .screen({ height: 110px; }, { height: 120px; });
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
      }
      .box-detail {
        display: block;
        width: 100%;
        .box-title {
          display: block;
          width: 100%;
          font-size: 15px;
          color: #333;
          font-weight: 900;
          .transition();
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.breadcrumb {
  margin-top: 60px;
  background-color: transparent;
  li {
    font-weight: 900;
    color: @text-color;
    a {
      font-weight: 900;
      &:hover {
        color: @green;
      }
    }
  }
}