.mom-tip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  .first-step {
    display: block;
    width: 100%;
    position: relative;
    .sub-first-step {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 50%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .do-you-know-text {
        .screen({ width: 100%; }, { width: 100%; });
        .screen({ position: relative; }, { position: absolute; });
        .screen({ top: auto; }, { top: 50%; });
        .screen({ right: auto; }, { right: 0; });
        .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
        .title {
          margin-bottom: 10px;
        }
      }
    }
  }
  .line-tips {
    display: block;
    width: 100%;
    height: 100%;
    .screen({ margin-top: 0; }, { margin-top: -50px; }, { margin-top: -180px; });
    img {
      width: 100%;
      display: block;
    }
    .step1 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 23%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          bottom: 0;
          .screen({ left: -100px; }, { left: -100px; }, { right: -40px; }, { right: -15px; });
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ bottom: auto; }, { bottom: -100%; }, { bottom: -55%; });
          .screen({ right: auto; }, { right: 0; });
        }
      }
    }
    .step2 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 25%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          bottom: -25px;
          .screen({ left: -100px; }, { left: -100px; }, { left: -100px; }, { left: -115px; });
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ bottom: auto; }, { bottom: -75%; }, { bottom: -55%; });
          .screen({ left: auto; }, { left: -75px; }, { left: -135px; });
        }
      }
    }
    .step3 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 39%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          .screen({ bottom: 65px; }, { bottom: 65px; }, { bottom: 65px; }, { bottom: 80px; });
          right: -110px;
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ bottom: auto; }, { bottom: 30px; });
          .screen({ right: auto; }, { right: -315px; }, { right: -430px; });
        }
      }
    }
    .step4 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 50%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          .screen({ top: 165px; }, { top: 165px; }, { top: 150px; }, { top: 165px; });
          left: -70px;
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ top: auto; }, { top: -70px; }, { top: 100px; });
          .screen({ left: auto; }, { left: -300px; }, { left: -390px; });
        }
      }
    }
    .step5 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 48%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          bottom: -70px;
          .screen({ bottom: -55px; }, { bottom: -55px; }, { bottom: -55px; }, { bottom: -70px; });
          left: 20px;
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ bottom: auto; }, { bottom: -85%; }, { bottom: -65%; });
          .screen({ left: auto; }, { left: 0; });
        }
      }
    }
    .step6 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 61%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          top: 37%;
          .screen({ right: -30px; }, { right: -30px; }, { right: -30px; }, { right: -50px; });
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ top: auto; }, { top: 25%; });
          .screen({ right: auto; }, { right: -330%; }, { right: -200%; });
        }
      }
    }
    .step7 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 70%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          .screen({ top: 60%; }, { top: 60%; }, { top: 55%; }, { top: 60%; });
          left: -50px;
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ top: auto; }, { top: 20%; }, { top: 45%; });
          .screen({ left: auto; }, { left: -205%; }, { left: -130%; });
        }
      }
    }
    .step8 {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: auto; }, { top: 73%; });
      .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
      .step1-block {
        position: relative;
        display: block;
        width: 100%;
        .red-point {
          position: absolute;
          bottom: 0;
          left: 105px;
        }
        .step-detail {
          .screen({ position: relative; }, { position: absolute; });
          .screen({ bottom: auto; }, { bottom: -45%; });
          .screen({ left: auto; }, { left: 180px; }, { left: 0; });
        }
      }
    }
  }

  .red-point {
    width: 20px;
    height: 20px;
    .border-radius(50%);
    background-color: @orange;
    .screen-xs({ display: none });
    .screen-sm({ display: none });
    &.red {
      background-color: @red;
    }
    &.orange {
      background-color: @orange;
    }
    &.blue {
      background-color: @blue;
    }
  }
  .step-detail {
    text-align: center;
    display: block;
    .screen-xs({ margin: 15px 0 });
    .screen({ width: 100%; }, { width: 300px; });
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 15px #ccc;
    .border-radius(8px);
    .step-wrapper {
      padding: 15px;
      .border-radius(8px);
      border: 1px solid @orange;
      &.red {
        border: 1px solid @red;
      }
    }
  }
  .end-step {
    display: block;
    width: 100%;
    position: relative;
    .text {
      .screen({ width: 100%; }, { width: 100%; });
      display: block;
      .text-table {
        table-layout: fixed;
        display: table;
        position: relative;
        height: 100%;
        width: 100%;
        &.left {
          .screen({ margin-left: 0; }, { margin-left: 15%; }, { margin-left: 25%; });
        }
        .inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .title {
        .screen({ margin: 10px auto 0; }, { margin: 20px auto 0; }, { margin: 20px auto 0; }, { margin: 50px auto 0; });
        text-align: center;
        .main-title {
          margin-bottom: 15px;
        }
        .title-content {
          margin-bottom: 15px;
          font-size: 20px;
          color: @orange;
          text-transform: uppercase;
          font-weight: 900;
          &.red {
            color: @red;
          }
        }
        .sub-content {
          margin-bottom: 15px;
          font-size: 32px;
          color: @orange;
          font-family: @sub-font;
          &.red {
            color: @red;
          }
        }
      }

      .content {
        line-height: 1.6;
        margin-bottom: 6%;
        .view-more-action {
          width: 210px;
          margin: 25px auto 0;
          text-transform: uppercase;
          font-weight: 900;
          padding: 8px 15px;
          text-align: center;
          font-size: 14px;
          display: inline-block;
          .border-radius(25px);
          .transition();
          color: white;
          border: 2px solid @orange;
          background-color: @orange;
          &:hover {
            color: @orange;
            background-color: @orange;
          }
          &.red {
            border: 2px solid @red;
            background-color: @red;
            &:hover {
              color: @red;
              background-color: @red;
            }
          }
          &.orange {
            border: 2px solid @orange;
            background-color: @orange;
            &:hover {
              color: @orange;
              background-color: @orange;
            }
          }
          &.blue {
            border: 2px solid @blue;
            background-color: @blue;
            &:hover {
              color: @blue;
              background-color: @blue;
            }
          }
        }
      }
    }
  }
}