#newsMommy {
  display: block;
  width: 100%;
  margin: 50px 0;
  .sub-title {
    display: block;
    width: 100%;
    color: @red;
    font-weight: 900;
    font-size: 26px;
  }
  .slick-dots {
    li {
      button {
        &:before {
          position: absolute;

          left: 0;
          content: "";
          .screen({ top: -10px; }, { top: 0; });
          .screen({ width: 8px; }, { width: 15px; });
          .screen({ height: 8px; }, { height: 15px; });
          background-color: white;
          border: 1px solid @red;
          .border-radius(50%);
          font-size: 6px;
          line-height: 20px;
          text-align: center;
          color: #000000;
          opacity: 1;
          -webkit-font-smoothing: antialiased;
          .transition();
        }
      }
      &:hover {
        button {
          &:before {
            background-color: @red;
          }
        }
      }
      &.slick-active {
        button {
          &:before {
            background-color: @red;
          }
        }
      }
    }
  }
  .main-news {
    .white-box {
      margin: 15px;
    }
  }
  .news-section {
    padding-top: 50px;
    &.block-top {
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-mom/banner-top.png") no-repeat top left;
      .screen-xs({ background: none; });
    }
    .block-center {
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-mom/banner-center.png") no-repeat center left;
      .screen-xs({ background: none; });

    }
    .block-bottom {
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-mom/banner-bottom.png") no-repeat bottom left;
      .screen-xs({ background: none; });

    }
  }
}