#newsEvent{
  display: block;
  width: 100%;
  margin: 50px 0;
  .news-section{
    padding-top: 50px;
    &.block-1{
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-events/banner-n1.png") no-repeat top left;
    }
    &.block-2{
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-events/banner-n2.png") no-repeat top left;
    }
    &.block-3-1, .block-3-2{
      display: block;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      background: url("../images/news-events/banner-n3-1.png") no-repeat top left;
    }
    .block-3-2{
      background: url("../images/news-events/banner-n3-2.png") no-repeat bottom left;
    }
  }
}