.event-map {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: url("../images/process/event-map.png") no-repeat center center/ cover;
  .location-background {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    .screen({ margin: 25px 0; }, { margin: 150px 0; });
    .location-animation {
      .screen({ position: relative; }, { position: relative; });
      top: 0;
      right: 0;
      .bb2 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        right: 0;
        top: 25px;
        width: 100px;
        height: 100px;
        .border-radius(50%);
        background: url("../images/home/bb2.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      .bb3 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;
        left: -80px;
        top: 50%;
        .translate(0, -50%);
        width: 210px;
        height: 210px;
        .screen({ width: 85px; }, { width: 120px; }, { width: 210px; });
        .screen({ height: 85px; }, { height: 120px; }, { height: 210px; });
        .border-radius(50%);
        background: url("../images/home/bb3.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      .bb4 {
        -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
        z-index: 1;

        bottom: 25px;
        .translate(-50%, 0);
        .screen({ right: 370px; }, { right: 220px; }, { right: 370px; });
        .screen({ width: 85px; }, { width: 45px; }, { width: 85px; });
        .screen({ height: 85px; }, { height: 45px; }, { height: 85px; });
        .border-radius(50%);
        background: url("../images/home/bb4.jpg") no-repeat center / cover;
        position: absolute;
        .animation-custom(calling 1.1s ease-out infinite);
      }
      img {
        z-index: 9;
        position: relative;
        display: block;
      }
    }
  }
  .nav {
    .screen({ padding-bottom: 15px; }, { padding-bottom: 15px; }, { padding-bottom: 30px; });
    .thumbnail-nav {
      display: block;
      margin: 0 auto;
      .screen({ height: 55px; }, { height: 55px; }, { height: 90px; });
      .screen({ width: 55px; }, { width: 55px; }, { width: 90px; });
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .border-radius(50%);
      .transition();
    }
    &.slick-current {
      .thumbnail-nav {
        border: 2px solid @green;
      }
    }
  }
  .slider-for {
    .for {
      .screen({ padding: 5px 5px 25px 10px; }, { padding: 5px 5px 25px 10px; }, { padding: 10px 25px 25px; });
    }
  }
  .share-block {
    display: block;
    width: 100%;
    position: relative;
    padding: 15px;
    background-color: white;
    .border-radius(14px);
    box-shadow: 0 0 25px #ccc;
    &:before {
      right: 100%;
      .screen({ top: 20px; }, { top: 35px; });
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 8px solid rgba(136, 183, 213, 0);
      border-right-color: white;
      margin-top: -5px;
    }
    .share-image {
      width: 100%;
      height: 135px;
      .border-radius(7px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 25px;
    }
    .share-content {
      display: block;
      width: 100%;
      position: relative;
      .user-share {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        .user-profile {
          display: block;
          font-weight: 900;
          width: 100%;
          position: relative;
          color: @green;
          font-size: 16px;
          .content-user {
            display: inline-block;
            background: url(../images/icon/content-user.png) no-repeat center;
            width: 13px;
            height: 16px;
            margin-right: 20px;
          }
          .content-location {
            display: inline-block;
            background: url(../images/icon/content-location.png) no-repeat center;
            width: 13px;
            height: 16px;
            margin-right: 20px;
          }
          .content-type {
            display: inline-block;
            background: url(../images/icon/content-type.png) no-repeat center;
            width: 13px;
            height: 16px;
            margin-right: 20px;
          }
        }
      }
      .share-detail {
        height: 120px;
        display: block;
        width: 100%;
        overflow-y: scroll;
      }
    }
  }
  .slick-prev, .slick-next {
    .screen({ width: 30px; }, { width: 50px; });
    .screen({ height: 30px; }, { height: 50px; });
    .border-radius(50%);
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      color: @green;
      .screen({ font-size: 20px; }, { font-size: 35px; });
      .translate(-50%, -50%);
    }
  }
  .slick-prev {
    .screen({ left: 50%; top: 0; }, { left: 50%; top: 0; });
    .screen({ margin-left: -15px; }, { margin-left: -25px; });
    &:before {
      left: 50%;
      content: "\f106";
    }
  }
  .slick-next {
    .screen({ right: 50%; bottom: 0; top: auto; }, { right: 50%; bottom: 0; top: auto; });
    .screen({ margin-right: -15px; }, { margin-right: -25px; });
    &:before {
      right: 4%;
      content: "\f107";
    }
  }
  .slider {
    z-index: 1;
    .screen({ margin: 25px 0; }, { margin: 150px 0; });
    padding: 0 0 30px;
  }
}

.event-now {
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1350px;
  .screen({ background: url("../images/process/event-now.png") no-repeat top left/ cover; }, { background: url("../images/process/event-now.png") no-repeat top center/ cover; });
  .title-question-small, .title-question-big {
    color: @red;
    font-weight: 900;
    position: relative;
    display: block;
  }
  .title-question-small {
    .screen({ font-size: 20px; }, { font-size: 23px; }, { font-size: 27px; });
    margin-bottom: 3px;
  }
  .title-question-big {
    margin-bottom: 40px;
    span {
      font-weight: 900;
      .screen({ font-size: 30px; }, { font-size: 35px; }, { font-size: 40px; });
      padding-bottom: 20px;
      display: inline-block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        background-color: @red;
        width: 125px;
        height: 3px;
        .border-radius(2px);
      }
    }
  }
  .data {
    .screen({ margin: 50px 0 50px; }, { margin: 150px 0 200px; })
  }
  .slick-prev, .slick-next {
    .screen({ width: 30px; }, { width: 60px; });
    .screen({ height: 30px; }, { height: 60px; });
    .border-radius(50%);
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      color: @green;
      .screen({ font-size: 20px; }, { font-size: 35px; });
      .translate(-50%, -50%);
    }
  }
  .slick-prev {
    .screen({ left: 10px; }, { left: -25px; });
    &:before {
      left: 45%;
      content: "\f104";
    }
  }
  .slick-next {
    .screen({ right: 10px; }, { right: -25px; });
    &:before {
      right: 25%;
      content: "\f105";
    }
  }
  .item {
    display: block;
    width: 100%;
    z-index: 1;
    .screen({ margin-top: 10px; }, { margin-top: 30px; });
    .screen({ padding: 15px; }, { padding: 15px; });
    .box-knowledge {
      .transition();
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: block;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.85);
      .border-radius(14px);
      .screen({ min-height: 0; }, { min-height: 250px; });
      .screen({ margin-top: 5px; }, { margin-top: 25px; });
      .screen({ padding: 5px; }, { padding: 15px; });
      .screen({ margin-bottom: 10px; }, { margin-bottom: 25px; });
      &:hover {
        background-color: @red;
        .box-detail {
          .box-title {
            color: white;
          }
        }
      }
      .box-thumbnail {
        .screen({ height: 65px; }, { height: 120px; });
        .screen({ margin-bottom: 0; }, { margin-bottom: 15px; });
        display: block;
        width: 100%;
        overflow: hidden;
        .border-radius(7px);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .box-detail {
        display: block;
        width: 100%;
        .box-title {
          display: block;
          width: 100%;
          font-size: 15px;
          color: #333;
          font-weight: 900;
          .transition();
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.rootMap-landing {
  .screen({ display: none; }, { display: block; });
  width: 100%;
  position: relative;
  padding: 70px 0;
  margin: 70px 0 30px;
  z-index: 9;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  .root-map {
    display: block;
    width: 100%;
    position: relative;
    height: 3px;
    background: url("../images/index/dash-line.png") repeat-x;
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -7px;
      top: -5px;
      background-color: @red;
      border: 1px solid @red;
      .border-radius(50%);
    }
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: -7px;
      top: -5px;
      background-color: white;
      border: 1px solid @red;
      .border-radius(50%);
    }
    .point {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      &:nth-child(1) {
        width: 8.3%;
      }
      &:nth-child(2) {
        width: 16.6%;
      }
      &:nth-child(3) {
        left: 24.9%;
      }
      &:nth-child(4) {
        left: 33.2%;
      }
      &:nth-child(5) {
        left: 41.5%;
      }
      &:nth-child(6) {
        left: 49.8%;
      }
      &:nth-child(7) {
        left: 58.1%;
      }
      &:nth-child(8) {
        left: 66.4%;
      }
      &:nth-child(9) {
        left: 74.7%;
      }
      &:nth-child(10) {
        left: 83%;
      }
      &:nth-child(11) {
        left: 91.3%;
      }
      .point-year {
        text-transform: uppercase;
        position: absolute;
        display: block;
        width: 100px;
        right: 0;
        top: 25px;
        text-align: center;
        margin-right: -50px;
        font-size: 14px;
        font-weight: 900;
        color: @red;
      }
      &.up {
        .point-year {
          top: auto;
          bottom: 25px;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        right: -7px;
        top: -5px;
        background-color: white;
        border: 1px solid @red;
        .border-radius(50%);
        .transition();
      }
      &.active {
        &:before {
          width: 30px;
          height: 30px;
          right: -15px;
          top: -12px;
          background-color: @red;
        }
      }
      &:hover {
        &:before {
          width: 30px;
          height: 30px;
          right: -15px;
          top: -12px;
          background-color: @green;
          border: 1px solid @green;
        }
      }

    }
  }
}

#landing-content {
  padding-bottom: 7.1%;
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1280px;
  .screen({ margin: 50px auto 0; }, { margin: 20px auto 0; });
  .article {
    clear: both;
    position: relative;
    .triggerAnimate {
      width: 100%;
      height: 1px;
      position: absolute;
      top: 5%;
      left: 0;
    }
    .img {
      .screen({ width: 100%; }, { width: 58.5%; });
      float: left;
      position: relative;
      img {
        float: left;
        .screen({ display: none; }, { display: block; });
        &.w65 {
          .screen({ width: 100%; }, { width: 65%; });
        }
      }
      .brand-time {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        float: right;
        .time-line {
          display: block;
          width: 155px;
          height: 155px;

          .screen({ margin: 30px auto 15px; }, { margin: 0 auto; });
          background-color: @green;
          .border-radius(50%);
          .screen({ position: relative; }, { position: absolute; });
          .screen({ top: 0; }, { top: 50%; });
          .screen({ left: 0; }, { left: 50%; });
          .screen({ .translate(0, 0); }, { .translate(-50%, -50%); });
          &.tl2 {
            .screen({ left: 0; }, { left: 40%; });
          }
          &.tl3 {
            .screen({ top: 0; }, { top: 20%; });
            .screen({ left: 0; }, { left: 73%; });
          }
          &.tl4 {
            .screen({ left: 0; }, { left: 27%; });
          }
          &.tl5 {
            .screen({ left: 0; }, { left: 65%; });
          }
          &.tl6 {
            .screen({ top: 0; }, { top: 35%; });
            .screen({ left: 0; }, { left: 27%; });
          }
          &.tl7 {
            .screen({ left: 0; }, { left: 70%; });
          }
          &.tl8 {
            .screen({ left: 0; }, { left: 30%; });
          }
          &.tl9 {
            .screen({ left: 0; }, { left: 68%; });
          }
          &.tl10 {
            .screen({ top: 0; }, { top: 60%; });
            .screen({ left: 0; }, { left: 20%; });
          }
          &.tl11 {
            .screen({ left: 0; }, { left: 75%; });
          }
          &.tl12 {
            .screen({ left: 0; }, { left: 35%; });
          }
          span {
            text-align: center;
            color: white;
            font-weight: 700;
            font-size: 25px;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%, -50%);
          }
        }
      }
    }
    .text {
      float: right;
      .screen({ width: 100%; }, { width: 41.5%; });
      .screen({ padding-left: 5%; }, { padding-left: 1.1%; });
      .screen({ padding-right: 5%; }, { padding-right: 3.9%; });
      display: block;
      .text-table {
        table-layout: fixed;
        display: table;
        position: relative;
        height: 100%;
        width: 100%;
        .inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .title {
        .screen({ margin: 10px auto 0; }, { margin: 25px auto 0; });
        text-align: center;
        .title-content {
          margin-bottom: 15px;
          color: @red;
          font-weight: 900;
          .screen({ font-size: 22px; }, { font-size: 26px; });
          .screen({ text-align: center; }, { text-align: right; });
        }
        .sub-content {
          margin-bottom: 15px;
          font-size: 32px;
          color: @red;
          font-weight: 900;
          .screen({ text-align: center; }, { text-align: right; });
          span {
            color: @red;
            font-weight: 900;
          }
        }
      }

      .content {
        line-height: 1.6;
        margin-bottom: 6%;
        p {
          text-align: justify;
        }
        .green {
          color: @green;
          font-weight: 900;
        }
        .title-content {
          display: block;
          width: 100%;
          font-weight: 900;
          color: @green;
          margin-bottom: 15px;
          font-size: 22px;
        }
        .image-box {
          padding: 15px;
          display: block;
          width: 100%;
          .border-radius(14px);
          box-shadow: 0 0 4px rgba(107, 107, 107, 0.5);
          margin-bottom: 25px;
          img {
            width: 100%;
            display: block;
          }
        }
        .img-content {
          display: block;
          width: 100%;
          img {
            margin: 0 auto 25px;
            display: block;
          }
        }
        .video-content {
          padding: 15px;
          display: block;
          width: 100%;
          .border-radius(14px);
          box-shadow: 0 0 4px rgba(107, 107, 107, 0.5);
          margin-bottom: 25px;
        }
      }
    }
    &.right {
      .img {
        float: right;
        img {
          .screen({ display: none; }, { display: block; });
          float: right;
        }
      }
      .text {
        .title {
          .title-content {
            .screen({ font-size: 22px; }, { font-size: 26px; });
            .screen({ text-align: center; }, { text-align: left; });
            color: @red;
          }
          .sub-content {
            .screen({ text-align: center; }, { text-align: left; });
            color: @red;
          }
        }
      }
    }
    &.main {
      .img {
        .screen({ width: 100%; }, { width: 50%; });
        img {
          .screen({ display: block; }, { display: block; });
          margin-top: 0;
          float: right;
          margin-right: 25px;
          width: 80%;
        }
      }
      .text {
        .screen({ width: 100%; }, { width: 47.5%; });
        .screen({ padding-left: 5%; }, { padding-left: 0; });
        .screen({ padding-right: 5%; }, { padding-right: 14.5%; });
        .title {
          .screen({ margin: 10px auto 0; }, { margin: 100px auto 80px; });
          .screen({ padding-right: 5%; }, { padding-right: 20%; });
          .title-content {
            color: white;
            text-align: center;
            text-transform: none;
            font-weight: 900;
            font-family: @sub-font;
            text-shadow: 2px 2px 0 @green,
              -1px -1px 0 @green,
              1px -1px 0 @green,
            -1px 1px 0 @green,
            1px 1px 0 @green;
            font-size: 50px;
          }
          .sub-content {
            text-align: center;
            margin-bottom: 22px;
            font-size: 15px;
            color: @green;
            text-transform: uppercase;
          }
        }
        .content {
          .preview-content {
            margin: 0 auto;
            font-size: 15px;
            color: @green;
            display: block;
            font-weight: 900;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .wrapsvg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 7296px;
    max-width: 1280px;
    .screen-xs({ display: none });
    .screen-sm({ display: none });
    svg {
      .screen-sm({ display: none });
      width: 100%;
      height: 100%;
    }
    .svgImg {
      .screen-sm({ display: none });
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.final-landing {
  display: block;
  width: 100%;
  background: url("../images/index/bg-finnal.png") no-repeat top center / contain;
  position: relative;
  margin-bottom: 50px;
  .title-final {
    position: relative;
    font-weight: 900;
    color: @red;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .sub-final {
    position: relative;
    font-weight: 900;
    color: @red;
    text-align: center;
    font-size: 34px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:after {
      background-color: @red;
      display: block;
      width: 150px;
      height: 2px;
      .border-radius(25px);
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -75px;
    }
  }
  p {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px auto 30px;
  }
}

