#nutrition-for-kid {
  .intro-block {
    position: relative;
    margin-bottom: 50px;
    .intro-img {
      .screen({ position: relative; }, { position: absolute; });
      .screen({ width: 100%; }, { width: 52%; });
      right: 0;
    }
    .intro-text {
      .title {
        text-align: center;
        .screen({ margin: 25px auto 0; }, { margin: 100px auto 0; });
        .main-title {
          margin-bottom: 15px;
        }
        .title-content {
          margin-bottom: 15px;
          font-size: 20px;
          color: @red;
          text-transform: uppercase;
          font-weight: 900;
        }
        .sub-content {
          margin-bottom: 15px;
          font-size: 32px;
          color: @red;
          font-family: @sub-font;
        }
      }

      .content {
        line-height: 1.6;
        margin-bottom: 6%;
      }
    }
  }
  .do-you-know-block {
    .do-you-know-text {
      .screen({ width: 100%; }, { width: 35%; });
      .screen({ position: relative; }, { position: absolute; });
      .screen({ top: auto; }, { top: 50%; });
      .screen({ right: auto; }, { right: 0; });
      .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
      .title {
        margin-bottom: 10px;
      }
    }
  }
  .solution-for-kid-block {
    .solution-for-kid-text {
      .screen({ width: 100%; }, { width: 45%; });
      .screen({ position: relative; }, { position: absolute; });
      .screen({ top: auto; }, { top: 50%; });
      .screen({ left: auto; }, { left: 0; });
      .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
    }
    .video-block {
      background-color: rgba(255, 255, 255, 0.6);
    }
    .video-wrapper {
      .screen({ width: 100%; }, { width: 50%; });
      .screen({ position: relative; }, { position: absolute; });
      .screen({ top: auto; }, { top: 50%; });
      .screen({ right: auto; }, { right: 0; });
      .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
      background-image: none;
    }
  }
  .mom-success-block {
    .mom-success-text {
      .screen({ width: 100%; }, { width: 45%; });
      .content {
        .screen-sm({ display: none });
      }
    }
    .success-list {
      .screen({ width: 100%; }, { width: 65%; });
      .screen({ position: relative; }, { position: absolute; });
      .screen({ top: 100%; }, { top: 50%; });
      .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
      right: 0;
      .white-box {
        .box-shadow(0, 0px, 10px, 0.3);
        &:hover {
          background-color: rgba(212, 120, 107, 0.6);
          .news-title h4 {
            color: white;
          }
        }
      }
      .news-title {
        margin: 10px 0;
      }
      .owl-item {
        padding: 10px;
      }
      .owl-nav {
        display: block !important;
        position: absolute;
        top: 50%;
        margin-top: -37px;
        width: 100%;
        * {
          background-color: transparent !important;
        }
        .owl-prev {
          position: absolute;
          left: -30px;
        }
        .owl-next {
          position: absolute;
          right: -30px;
        }
      }
    }
    .item-block {
      margin-top: 100px;
    }
    .box-knowledge {
      .transition();
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: block;
      width: 100%;
      .border-radius(14px);
      .screen({ min-height: 0; }, { min-height: 250px; });
      .screen({ margin-top: 5px; }, { margin-top: 25px; });
      .screen({ padding: 5px; }, { padding: 15px; });
      .screen({ margin-bottom: 10px; }, { margin-bottom: 25px; });
      &.red {
        background-color: rgba(191, 60, 39, 0.75);
      }
      &.orange {
        background-color: rgba(243, 139, 3, 0.75);
      }
      &.green {
        background-color: rgba(5, 149, 1, 0.75);
      }
      &.blue {
        background-color: rgba(39, 68, 157, 0.75);
      }
      .box-thumbnail {
        .screen({ height: 110px; }, { height: 120px; });
        .screen({ margin-bottom: 0; }, { margin-bottom: 15px; });
        display: block;
        width: 100%;
        overflow: hidden;
        .border-radius(7px);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .box-detail {
        .screen({ display: block; }, { display: block; });
        width: 100%;
        .box-title {
          display: block;
          width: 100%;
          font-size: 15px;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
          .transition();
          text-align: center;
        }
        .arrow-right {
          margin-top: 25px;
          width: 50px;
          height: 50px;
          .border-radius(50%);
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.85);
          position: relative;
          .transition();
          &:hover {
            background-color: rgba(255, 255, 255, 0.55);
          }
          i {
            position: absolute;
            left: 50%;
            color: @green;
            font-size: 25px;
            .translate(-50%, -50%);
            top: 50%;
          }
        }
      }
    }
  }
  .do-you-know-block, .solution-for-kid-block, .mom-success-block {
    position: relative;
    .container {
      .screen({ position: relative; }, { position: absolute; });
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .do-you-know-img, .solution-for-kid-img {
    width: 100%;
  }
  .view-more-action {
    width: 210px;
    margin: 25px auto 0;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border: 2px solid @red;
    .border-radius(25px);
    color: white;
    background-color: @red;
    .transition();
    &:hover {
      color: @red;
      background-color: transparent;
    }
  }

  &.ctc-home {
    .intro-block .intro-text .title .title-content, .intro-block .intro-text .title .sub-content, .view-more-action {
      color: @orange;
    }
    .view-more-action:hover {
      background-color: transparent;
      color: @orange;
    }
    .view-more-action {
      border-color: @orange;
      color: white;
      background-color: @orange;
    }
    .question-wrapper .content-question .question-action li a.answer-question {
      color: white;
      background-color: @orange;
      border-color: @orange;
      &:hover {
        color: @orange;
      }
    }
    .success-list .white-box:hover {
      background-color: rgba(243, 139, 3, 0.6);
    }
  }
  &.tckm-home {
    .intro-block .intro-text .title .title-content, .intro-block .intro-text .title .sub-content, .view-more-action {
      color: @blue;
    }
    .view-more-action:hover {
      background-color: transparent;
      color: @blue;
    }
    .view-more-action {
      border-color: @blue;
      color: white;
      background-color: @blue;
    }
    .question-wrapper .content-question .question-action li a.answer-question {
      color: white;
      background-color: @blue;
      border-color: @blue;
      &:hover {
        color: @blue;
      }
    }
    .do-you-know-img {
      .screen({ width: 100%; }, { width: 80%; });
    }
    .success-list {
      width: 100%;
    }
    .success-list .white-box:hover {
      background-color: rgba(39, 68, 157, 0.6);
    }
  }
}

