.banner-product{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  .banner-block{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img{
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
}

.product-promotion{
  display: block;
  width: 100%;
  position: relative;
  margin: -65px auto 0;
  background: url("../images/sanpham/banner-promotion.png") no-repeat top center/ cover;
  padding: 50px 0;
  .title-nuti {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    .screen({margin-top: 30px;},{margin-top: 100px;},{margin-top: 150px;});
    img {
      display: block;
      margin: 0 auto 20px;
    }
    .title-promotion, .title-sub-promotion {
      display: block;
      width: 100%;
      color: @red;
      margin: 15px;
      font-size: 20px;
      text-transform: uppercase;
      position: relative;
      font-weight: 900;
      &.border-bottom {
        padding-bottom: 35px;
        margin-bottom: 35px;
        &:after {
          position: absolute;
          width: 100px;
          height: 3px;
          .border-radius(4px);
          background-color: @red;
          content: '';
          left: 50%;
          margin-left: -50px;
          bottom: 0;
        }
      }
    }
    .title-sub-promotion {
      font-size: 32px;
    }
  }
}

.product-trend{
  display: block;
  width: 100%;
  position: relative;
  .sub-title {
    display: block;
    width: 100%;
    color: @red;
    font-weight: 900;
    font-size: 26px;
  }
}

.mom-success-product{
  position: relative;
  .container {
    .screen({ position: relative; }, { position: absolute; });
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .sub-title {
    display: block;
    width: 100%;
    color: @red;
    font-weight: 900;
    font-size: 26px;
  }
  .mom-success-img{
    display: block;
    width: 100%;
    position: relative;
    img{
      display: block;
      width: 100%;
    }
    .btn-view-mom{
      position: absolute;
      left: 15%;
      bottom: 12%;
      font-weight: 900;
      padding: 8px 50px 8px 120px;
      background-color: @red;
      color: white;
      text-transform: uppercase;
      border: 2px solid @red;
      .border-radius(25px);
      z-index: 1;
      .transition();
      &:after{
        display: block;
        background: url("../images/sanpham/mom-btn.png") no-repeat center;
        width: 183px;
        height: 98px;
        position: absolute;
        left: -80px;
        top: -40px;
        content: '';
      }
      &:hover{
        background-color: white;
        color: @red;
      }
    }
  }
  .mom-success-text {
    .screen({ width: 100%; }, { width: 45%; });
  }
  .success-list {
    .screen({ width: 100%; }, { width: 65%; });
    .screen({ position: relative; }, { position: absolute; });
    .screen({ top: 100%; }, { top: 50%; });
    .screen({ .transform(translate(0, 0)); }, { .transform(translate(0, -50%)); });
    right: 0;
    .white-box {
      .box-shadow(0, 0px, 10px, 0.3);
      &:hover {
        background-color: rgba(212, 120, 107, 0.6);
        .news-title h4 {
          color: white;
        }
      }
    }
    .news-title {
      margin: 10px 0;
    }
    .owl-item {
      padding: 10px;
    }
    .owl-nav {
      display: block !important;
      position: absolute;
      top: 50%;
      margin-top: -37px;
      width: 100%;
      * {
        background-color: transparent !important;
      }
      .owl-prev {
        position: absolute;
        left: -30px;
      }
      .owl-next {
        position: absolute;
        right: -30px;
      }
    }
  }
}

