.about-mom {
  display: block;
  background: url("../images/sddtc/about-mom-bg.png") no-repeat top center;
  width: 100%;
  height: 100%;
  position: relative;
  .sub-title {
    margin-top: 35px;
    display: block;
    width: 100%;
    color: #bf3c27;
    font-weight: 900;
    font-size: 26px;
  }
  .news-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .about-baby {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 35px 0;
    .avatar-baby {
      width: 95px;
      height: 95px;
      .border-radius(8px);
      box-shadow: 0 0 25px #ccc;
      background-image: url("../images/question/child.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;
    }
    .baby-info {
      padding: 20px 0 0 110px;
      display: block;
      width: 100%;
      margin-bottom: 25px;
      .dob, .name {
        display: block;
        font-weight: 900;
      }
      .name {
        color: @green;
      }
    }
  }
  .block-share {
    display: block;
    width: 100%;
    text-align: right;
    li {
      display: inline-block;
      margin-left: 20px;
      vertical-align: middle;
    }
  }
  .block-comment {
    display: block;
    width: 100%;
    position: relative;
    margin: 30px 0;
    .comment-quantity {
      font-weight: 900;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  .write-reply {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    .avatar-user {
      width: 50px;
      height: 50px;
      display: block;
      .border-radius(8px);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 15px;
      top: 0;
    }
    .form-group {
      padding-left: 60px;
      width: 100%;
    }
    .user-comment {
      padding-left: 60px;
      width: 100%;
      .user-detail {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        .user-name {
          font-weight: 900;
          margin-right: 50px;
        }
        .address {
          color: #ccc;
        }
      }
      .comment-detail {
        margin-bottom: 5px;
      }
      .comment-view {
        margin-bottom: 5px;
        display: block;
        .is-like, .is-reply {
          position: relative;
          padding-left: 25px;
          display: inline-block;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .is-like {
          &:before {
            background: url("../images/sddtc/like-acctive.png") no-repeat center;
            width: 18px;
            height: 16px;
          }
        }
        .is-reply {
          &:before {
            background: url("../images/sddtc/reply-active.png") no-repeat center;
            width: 16px;
            height: 14px;
            top: 2px;
          }
        }
      }
    }
  }
  .view-more{
    display: inline-block;
    padding: 8px 35px;
    border: 2px solid @red;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
    .border-radius(25px);
    .transition();
    background-color: @red;
    color: white;
    &:hover {
      color: @red;
      background-color: white;
    }
  }
  .box-knowledge {
    .transition();
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    .border-radius(14px);
    .screen({ min-height: 0; }, { min-height: 250px; });
    .screen({ margin-top: 5px; }, { margin-top: 25px; });
    .screen({ padding: 5px; }, { padding: 15px; });
    .screen({ margin-bottom: 10px; }, { margin-bottom: 25px; });
    &:hover {
      background-color: @red;
      .box-detail {
        .box-title {
          color: white;
        }
      }
    }
    .box-thumbnail {
      .screen({ height: 110px; }, { height: 120px; });
      .screen({ margin-bottom: 0; }, { margin-bottom: 15px; });
      display: block;
      width: 100%;
      overflow: hidden;
      .border-radius(7px);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .box-detail {
      .screen({ display: block; }, { display: block; });
      width: 100%;
      .box-title {
        display: block;
        width: 100%;
        font-size: 15px;
        color: #333;
        font-weight: 900;
        .transition();
        &:hover {
          color: white;
        }
      }
    }
  }
}