.tree-wrapper {
  display: block;
  width: 100%;
  position: relative;
  .tree-block {
    display: block;
    width: 100%;
    position: relative;
    img.tree-banner {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .master-book-mobile {
      display: block;
      width: 100%;
      position: relative;
      .book-content {
        display: block;
        width: 100%;
        position: absolute;
        left: 50%;
        .screen({ top: 50%; }, { top: 55%; });
        .translate(-50%, -50%);
        .screen({ height: auto }, { height: 770px; });
        .slick-prev, .slick-next {
          .screen({ width: 30px; }, { width: 60px; });
          .screen({ height: 30px; }, { height: 60px; });
          .border-radius(50%);
          background-color: rgba(255, 255, 255, 0.83);
          z-index: 1;
          &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            top: 50%;
            color: @green;
            .screen({ font-size: 20px; }, { font-size: 35px; });
            .translate(-50%, -50%);
          }
        }
        .slick-prev {
          left: -35px;
          &:before {
            left: 45%;
            content: "\f104";
          }
        }
        .slick-next {
          right: -35px;
          &:before {
            right: 25%;
            content: "\f105";
          }
        }
        .slider-book {
          .screen({ padding: 0; }, { padding: 0; }, { padding: 0; }, { padding: 0; });
        }
        .block-detail-tree {
          display: block;
          width: 100%;
          .detail-tree-mobile {
            .screen({ height: 135px !important; }, { height: 350px !important; });
            overflow-y: scroll;
          }
          .tree-img {
            display: block;
            width: auto;
            margin: 15px auto;
          }
          .title-slide, .sub-title-slide {
            display: block;
            width: 100%;
            padding-top: 5px;
            color: @green;
            font-weight: 900;
            text-align: center;
          }
          .title-slide {
            text-transform: uppercase;
            .screen({ font-size: 16px; }, { font-size: 32px; });
          }
          .sub-title-slide {
            .screen({ font-size: 12px; }, { font-size: 24px; });
            font-family: @sub-font;
          }
        }
      }
    }
    .master-book {
      display: block;
      width: 100%;
      .screen({ position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: 50%; });
      .screen({ top: 520px; }, { top: 250px; }, { top: 450px; }, { top: 650px; });
      .translate(-50%, -50%);
      .data {
        width: 100%;
        .screen-xs({ display: none; });
      }
      .slick-prev, .slick-next {
        .screen({ width: 30px; }, { width: 30px; }, { width: 60px; });
        .screen({ height: 30px; }, { height: 30px; }, { height: 60px; });
        .border-radius(50%);
        background-color: rgba(255, 255, 255, 0.83);
        z-index: 1;
        &:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          position: absolute;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          top: 50%;
          color: @green;
          .screen({ font-size: 20px; }, { font-size: 20px; }, { font-size: 35px; });
          .translate(-50%, -50%);
        }
      }
      .slick-prev {
        .screen({ left: 10px; }, { left: -65px; });
        &:before {
          left: 45%;
          content: "\f104";
        }
      }
      .slick-next {
        .screen({ right: 10px; }, { right: -65px; });
        &:before {
          right: 25%;
          content: "\f105";
        }
      }
      .slider-book {
        .screen({ padding: 0; }, { padding: 0; }, { padding: 0; }, { padding: 0; });
      }
      .block-detail-tree {
        display: block;
        width: 100%;
        .screen({ height: 520px; }, { height: 360px; }, { height: 360px; }, { height: 520px; });
        &.left {
          .screen({ padding-left: 30px; }, { padding-left: 15px; }, { padding-left: 15px; }, { padding-left: 30px; });
          .detail-tree {
            .screen({ height: 30px; }, { height: 140px !important; }, { height: 140px !important; }, { height: 255px !important; });
            overflow-y: scroll;
          }
        }
        &.right {
          .screen({ padding-left: 15px; }, { padding-left: 15px; }, { padding-left: 15px; }, { padding-left: 30px; });
          .detail-tree {
            .screen({ height: 360px !important; }, { height: 360px !important; }, { height: 360px !important; }, { height: 500px !important; });
            overflow-y: scroll;
          }

        }
        .tree-img {
          display: block;
          width: auto;
          margin: 15px auto;
        }
        .title-slide, .sub-title-slide {
          display: block;
          width: 100%;
          padding-top: 5px;
          color: @green;
          font-weight: 900;
          text-align: center;
        }
        .title-slide {
          text-transform: uppercase;
          .screen({ font-size: 30px; }, { font-size: 14px; }, { font-size: 14px; }, { font-size: 22px; });
        }
        .sub-title-slide {
          .screen({ font-size: 30px; }, { font-size: 22px; }, { font-size: 22px; }, { font-size: 32px; });
          font-family: @sub-font;
        }
      }

    }
    .master-child {
      display: block;
      width: 100%;
      .screen({ left: 0; }, { left: 0; }, { left: 50%; });
      .screen({ .translate(0, 0); }, { .translate(0, 0); }, { .translate(-50%, -50%); });
      .screen({ position: relative; }, { position: relative; }, { position: absolute; });
      .screen({ top: 0; }, { top: 0; }, { top: 57%; }, { top: 60%; });
      margin-top: 25px;
      .block-child {
        .child-wrapper {
          background: url("../images/process/round.png") no-repeat center center / cover;
          .border-radius(50%);
          .screen({ width: 225px; }, { width: 160px; }, { width: 225px; });
          .screen({ height: 225px; }, { height: 160px; }, { height: 225px; });
          position: relative;
          margin: 0 auto;
          .child-image {
            display: block;
            .screen({ left: 7px; }, { left: 4px; }, { left: 7px; });
            .screen({ top: 7px; }, { top: 4px; }, { top: 7px; });
            .screen({ width: 210px; }, { width: 150px; }, { width: 210px; });
            .screen({ height: 210px; }, { height: 150px; }, { height: 210px; });
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .border-radius(50%);
            position: absolute;
            .transition();
            &:after {
              .transition();
              background-color: rgba(0, 0, 0, 0.2);
              width: 100%;
              content: '';
              height: 100%;
              .border-radius(50%);
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          .title-child {
            display: block;
            background: url(../images/process/label.png) no-repeat center center/ contain;
            .screen({ width: 269px; }, { width: 190px; }, { width: 269px; });
            height: 71px;
            z-index: 1;
            line-height: 71px;
            position: absolute;
            left: 50%;
            .translate(-50%, 0);
            bottom: 0;
            text-align: center;
            vertical-align: middle;
            font-size: 22px;
            color: @red;
            font-family: @sub-font;
          }
        }

      }
      .slick-current {
        &.slick-center {
          .child-wrapper {
            .screen({ width: 275px; }, { width: 190px; }, { width: 275px; });
            .screen({ height: 275px; }, { height: 190px; }, { height: 275px; });
            .child-image {
              display: block;
              .screen({ left: 7px; }, { left: 5px; }, { left: 7px; });
              .screen({ top: 7px; }, { top: 5px; }, { top: 7px; });
              .screen({ width: 260px; }, { width: 175px; }, { width: 260px; });
              .screen({ height: 260px; }, { height: 175px; }, { height: 260px; });
              &:after {
                background-color: rgba(0, 0, 0, 0);
              }
            }
          }
        }
      }
    }
    .master-tree {
      display: block;
      width: 100%;
      .screen({ position: relative; }, { position: relative; }, { position: absolute; });
      .screen({ left: auto; }, { left: auto; }, { left: 0; });
      .screen({ bottom: auto; }, { bottom: auto; }, { bottom: 100px; }, { bottom: 110px; });
      .tree-block {
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        .border-radius(8px);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        padding: 15px;
        .screen({ margin-top: 25px; }, { margin-top: 25px; }, { margin-top: 0; });
        .tree-block-content {
          .border-radius(8px);
          display: block;
          width: 100%;
          .screen({ padding: 0; }, { padding: 0; }, { padding: 30px 40px; }, { padding: 40px 60px; });
          border: 2px dashed @green;
          .tab-tree {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            li {
              .screen({ display: block; }, { display: block; }, { display: inline-block; });
              .screen({ width: 100%; }, { width: 100%; }, { width: 33%; });
              a {
                .screen({ margin: 10px; }, { margin: 10px; }, { margin: 0 10px; });
                text-transform: uppercase;
                .transition();
                font-size: 16px;
                padding: 8px 15px;
                text-align: center;
                .border-radius(25px);
                display: block;
                background-color: transparent;
                color: @green;
                border: 1px solid @green;
                font-weight: 700;
                &:hover {
                  background-color: @green;
                  color: white;
                }
              }
              &.active {
                a {
                  background-color: @green;
                  color: white;
                }
              }
            }
          }
          .tab-content {
            .screen({ min-height: 300px; }, { min-height: 300px; }, { min-height: 300px; }, { min-height: 350px; });
            .screen({ padding: 0 25px; }, { padding: 0 25px 0 100px; }, { padding: 0 25px 0 100px; }, { padding: 0 25px 0 100px; });
            .panel {
              &.tree-detail {
                background-color: transparent;
                border-radius: 4px;
                box-shadow: none;
                margin-bottom: 15px;
                .panel-heading {
                  padding: 0 0 0 15px;
                  border-bottom: 0;
                  border-top-right-radius: 3px;
                  border-top-left-radius: 3px;
                  position: relative;
                  &:after {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    .border-radius(50%);
                    background-color: @green;
                    left: 0;
                    top: 5px;
                  }
                  h4 {
                    color: @green;
                    text-transform: uppercase;
                    font-weight: 700;
                    .accordion-toggle {
                      position: relative;
                      .poiter-place {
                        position: absolute;
                        right: -20px;
                        top: -2px;
                        display: inline-block;
                        font: normal normal normal 22px/1 FontAwesome;
                        font-size: 22px;
                        text-rendering: auto;
                        color: @green;
                        &:before {
                          color: @green;
                          content: "\f106";
                        }
                      }
                      &:hover, &:focus {
                        color: @green;
                      }
                    }
                    .accordion-toggle.collapsed {
                      .poiter-place {
                        &:before {
                          content: "\f107";
                        }
                      }
                    }

                  }
                }
                .panel-body {
                  border: 0;
                  padding: 5px 15px;
                  height: 110px !important;
                  overflow-y: auto;
                }
              }
            }
          }
        }
      }
    }
    .doctor-wrapper {
      display: block;
      width: 100%;
      .screen({ position: relative; }, { position: relative; }, { position: absolute; });
      bottom: 0;
      .question-block {
        .screen({ position: relative; }, { position: relative; }, { position: absolute; });
        .screen({ bottom: 50px; }, { bottom: 0; }, { bottom: 50px; });
        .screen({ left: 0; }, { left: 0; }, { left: -50px; });
        .screen({ margin-top: 100px; }, { margin-top: 0; }, { margin-top: 0; });
        z-index: 1;
        width: 313px;
        text-align: center;
        .get-question {
          display: inline-block;
          text-align: center;
          padding: 8px 35px;
          background-color: @red;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          border: 1px solid @red;
          color: white;
          .border-radius(25px);
          .transition();
          &:hover {
            color: red;
            background-color: white;
          }
        }
      }
      .doctor-image {
        .screen({ position: relative; }, { position: relative; }, { position: absolute; });
        .screen({ left: 0; }, { left: 0; }, { left: -50px; });
        display: block;
        bottom: 0;
      }
      .milk-image {
        position: absolute;
        .screen({ right: 20px; }, { right: 20px; }, { right: -25px; });
        .screen({ bottom: 60px; }, { bottom: 0; }, { bottom: 0; });
        .screen({ width: 90%; }, { width: 50%; }, { width: auto; });
        display: block;
      }
    }
  }
}

#customer-about {
  .modal-dialog {
    .screen({ width: 360px; }, { width: 600px; });
    margin: 50px auto;
    padding: 15px;
    .about-user {
      display: block;
      .border-radius(4px);
      border: 2px dashed @green;
      padding: 30px 25px;
      .btn-submit-contact-form {
        display: inline-block;
        padding: 8px 35px;
        border: 1px solid @green;
        font-weight: 900;
        text-transform: uppercase;
        .border-radius(25px);
        .transition();
        background-color: @green;
        color: white;
        margin: 0 10px;
        .screen-xs({ margin-bottom: 10px });
        &:hover {
          background-color: @green;
          color: @green;
        }
      }
      .btn-reject-contact-form {
        margin: 0 10px;
        display: inline-block;
        padding: 8px 35px;
        border: 1px solid @red;
        background-color: @red;
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        .border-radius(25px);
        .transition();
        &:hover {
          background-color: white;
          color: @red;
        }
      }
      .title-about {
        font-weight: 700;
        color: @red;
        font-size: 32px;
        text-align: center;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        &:after {
          background-color: @red;
          width: 150px;
          content: '';
          height: 2px;
          left: 50%;
          margin-left: -75px;
          bottom: 0;
          position: absolute;
          display: block;
        }
      }
    }
  }
}