.consulting {
  .search-form {
    .form-group span {
      position: absolute;
      right: 15px;
      top: 5px;
      font-size: 22px;
      color: @green;
    }
    .form-control {
      width: 100%;
    }
  }
  .sub-title {
    margin-top: 35px;
    display: block;
    width: 100%;
    color: #bf3c27;
    font-weight: 900;
    font-size: 26px;
  }
  .slick-dots {
    li button:before {
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
      content: "";
      width: 10px;
      height: 10px;
      font-size: 0;
      line-height: 20px;
      text-align: center;
      color: #000;
      opacity: 1;
      border: 1px solid @red;
      .border-radius(50%);
      .transition();
    }
    li.slick-active button:before {
      background-color: @red;
      opacity: 1;
    }
  }
  .white-box {
    padding: 15px;
    margin: 15px;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      background: transparent no-repeat scroll center center / cover;
      .transition-animation(all 1s);
    }
    &:hover {
      .image-wrapper {
        .opacity(0.9);
        .transform(scale3d(1.1, 1.1, 1));
      }
    }
  }
  .news-filter {
    margin: 15px 0 25px;
    ul {
      text-align: center;
      li {
        border: 2px solid @red;
        .screen({ width: 100% }, { width: 100% }, { width: 31.5% });
        margin-bottom: 15px;
        &:hover, &.active {
          background-color: @red;
        }
        a {
          color: @red;
        }
        &.orange {
          border: 2px solid @orange;
          &:hover, &.active {
            background-color: @orange;
          }
          a {
            color: @orange;
          }
        }
        &.blue {
          border: 2px solid @blue;
          &:hover, &.active {
            background-color: @blue;
          }
          a {
            color: @blue;
          }
        }
      }
    }
  }
  .question-child-wrapper {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-shadow: 0 0 25px #ccc;
    .border-radius(8px);
    .avatar-child {
      width: 95px;
      height: 95px;
      .border-radius(8px);
      box-shadow: 0 0 25px #ccc;
      background-image: url("../images/question/child.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .child-info {
      display: block;
      width: 100%;
      p {
        font-weight: 700;
      }
      .color-red {
        color: @red;
        strong {
          font-size: 14px;
          font-weight: 900;
        }
      }
    }
    .question-reply {
      padding: 15px 0 30px;
      border-bottom: 1px solid #333;
      margin-bottom: 15px;
    }
    .tag-question {
      margin-bottom: 15px;
      color: @orange;
      font-weight: 900;
    }
    .view-info {
      display: block;
      text-align: right;
      font-size: 12px;
      margin-bottom: 15px;
      span {
        font-weight: 700;
        margin-left: 10px;
        display: inline-block;
      }
    }
    .write-reply {
      display: block;
      width: 100%;
      height: 100%;
      .avatar-user {
        width: 50px;
        height: 50px;
        display: block;
        .border-radius(8px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 15px;
        top: 0;
      }
      .form-group {
        padding-left: 60px;
        width: 100%;
      }
    }
  }
  .get-question {
    margin-bottom: 50px;
    .control-label {
      vertical-align: middle;
      font-weight: 900;
      color: @green;
      line-height: 37px;
    }
    .form-control {
      width: 100%;
    }
  }
}

#expert-knowledge {
  .news-section {
    .screen({ margin-top: 30px; }, { margin-top: 60px; }, { margin-top: -50px; }, { margin-top: -150px; })
  }
}

.module-contact {
  margin-top: 55px;
  .banner-topic {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    .border-radius(8px);
    img {
      display: block;
      width: 100%;
    }
  }
  .video-topic {
    display: block;
    width: 100%;
    margin: 15px 0;
    .topic-wrapper {
      padding: 5px;
      .border-radius(8px);
      background-color: white;
      box-shadow: 0 0 10px #ccc;
    }
  }
}

.write-reply {
  textarea {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    resize: none;
  }
}