@base-font: 'Nunito';
@sub-font: 'Nabila';
@base-font-size: 14px;
@text-color: #414042;
@bg-color: #fff;
@font-size: 14px;
@border-color: #ccc;
@green: #008529;
@green-light: #059501;
@red: #BF3C27;
@red-light: #d8442c;
@orange: #F38B03;
@orange-light: #ff9302;
@blue: #27449D;
@blue-light: #3156c6;

@screen-xs:                        480px;
@screen-xs-min:                    @screen-xs;
@screen-sm:                        768px;
@screen-sm-min:                    @screen-sm;
@screen-md:                        1080px;
@screen-md-min:                    @screen-md;
@screen-lg:                        1480px;
@screen-lg-min:                    @screen-lg;
@screen-xl:                        1600px;
@screen-xl-min:                    @screen-xl;
@screen-xs-max:                    ( @screen-sm-min - 1 );
@screen-sm-max:                    ( @screen-md-min - 1 );
@screen-md-max:                    ( @screen-lg-min - 1 );
@screen-lg-max:                    ( @screen-xl-min - 1 );
